In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
#| default_exp psql

In [3]:
import sys
sys.path.insert(0,'..')

In [4]:
#| export
from sqlalchemy import create_engine
from sqlalchemy import DateTime
from sqlalchemy import Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, String, Text, Float, Boolean, ForeignKey, and_, or_, MetaData
from sqlalchemy.orm.exc import NoResultFound, MultipleResultsFound
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy import update
from sqlalchemy import desc
import pandas as pd
import datetime
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql.expression import select, exists
from IPython.display import clear_output
from sqlalchemy import Column, Integer, String ,DateTime,UniqueConstraint,Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.dialects.postgresql import ARRAY
from sqlalchemy.sql.sqltypes import *
from sqlalchemy import *
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Executable, ClauseElement #_literal_as_text
from sqlalchemy.ext import compiler
from sqlalchemy.schema import DDLElement
from sqlalchemy.inspection import inspect
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import VARCHAR

from sqlalchemy.dialects.postgresql import JSON

from sqlalchemy.dialects.postgresql import REAL

from sqlalchemy import cast

from food.paths import branch
print(branch)

from mytools.tools import *
from mytools.psql import *
from food.paths import *

prod

In [5]:
#| export

passw = 'postgres'
docker_name = 'psql_food_dev'

port = 5435 if branch == 'prod' else 5436



engine = create_engine(f'postgresql+psycopg2://postgres:{passw}@localhost/postgres?port={port}',pool_size=64) #dev engine
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()
port

5435

In [6]:
du(engine,schema='food')

   schema                  table  mln_rows  total_Gb  index_Gb
2    food         foods_prompted        14  0.062652  0.000336
1    food                  foods         7  0.030736  0.000180
3    food               bot_logs         0  0.000139  0.000033
6    food                 dishes         0  0.000197  0.000033
9    food                  users         0  0.000033  0.000016
11   food         foods_clusters         0  0.000008  0.000008
12   food       foundation_foods         0  0.000016  0.000008
13   food  foods_prompted_images         0  0.000016  0.000008
14   food                indexed         0  0.000008  0.000008
0    food        user_properties         0  0.000016  0.000008

In [7]:
#| export
schema = 'food'
LocalBase = declarative_base(metadata=MetaData(schema=schema))

In [8]:
#engine.execute("truncate table food.dishes")

In [13]:
#| export

def docker_run(docker_name,passw,port): 
    return f'sudo docker run --name {docker_name} -e POSTGRES_PASSWORD={passw} -d -p {port}:5432  -v {docker_v_path} postgres'


def pgdump(schema,passw,port):    
    now = pd.Timestamp.now()
    return f"pg_dump postgresql://postgres:{passw}@localhost:{port} -n {schema} > {psql_backup_path}/{schema}_{now.day}_{now.month}_{now.year}.sql"

def pgrestore(docker_name, dump_path = False):
    if not dump_path:
        dumps = path_info(psql_backup_path).sort_values('time')
        dump_path = dumps[dumps['name'].str.contains(".sql")].iloc[-1]['path']
    
    return f'cat {dump_path} | docker exec -i {docker_name} psql -U postgres | >> log.log'

In [14]:
pgdump(schema,passw,port)

'pg_dump postgresql://postgres:postgres@localhost:5435 -n food > /home/dima/data/food_prod/psql_backup/food_12_29_8_2022.sql'

In [15]:
import os

In [8]:
pgrestore(docker_name)

'cat /home/dima/data/food_dev/psql_backup/food_14_20_8_2022.sql | docker exec -i psql_food_dev psql -U postgres | >> log.log'

In [9]:
docker_run(docker_name,passw,port)

'sudo docker run --name psql_food_dev -e POSTGRES_PASSWORD=postgres -d -p 5436:5432  -v /home/dima/data/food_dev/docker_psql postgres'

In [10]:
engine.table_names()

/tmp/ipykernel_1080488/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

In [11]:
engine.table_names(schema)

/tmp/ipykernel_1080488/859941513.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names(schema)

['bot_logs',
 'foods',
 'foods_clusters',
 'foods_prompted',
 'foods_prompted_images',
 'foundation_foods',
 'indexed',
 'user_properties',
 'users',
 'dishes']

In [12]:
#| export
class Foods (LocalBase):
    __tablename__ = 'foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,          nullable=False)
    protein             = Column(Float,          nullable=False)
    carb                = Column(Float,          nullable=False)
    fat                 = Column(Float,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [13]:
#read_sql('foods',schema,engine)

In [14]:
#| export
class CFoods (LocalBase):
    __tablename__ = 'foods_clusters' 
    id                  = Column(BIGINT,  primary_key=True)
    cluster             = Column(Integer, nullable=True)

In [15]:
#| export
class FFoods (LocalBase):
    __tablename__ = 'foundation_foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [16]:
#| export
class Users (LocalBase):
    __tablename__ = 'users' 
    id                  = Column(BIGINT,     primary_key=True)
    first_name          = Column(String,     nullable=True)
    last_name           = Column(String,     nullable=True)
    username            = Column(String,     nullable=True)
    language_code       = Column(String,     nullable=True)

In [17]:
# pd.read_sql('select * from food.users',engine)

In [18]:
#| export
class Dishes (LocalBase):
    __tablename__ = 'dishes'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    food_id                   = Column(BIGINT,    nullable=False)
    
    # description          = Column(String,   nullable=False)
    # energy               = Column(Float,    nullable=False)
    # protein              = Column(Float,    nullable=False)
    # carb                 = Column(Float,    nullable=False)
    # fat                  = Column(Float,    nullable=False)
    score                = Column(Float,    nullable=False)

    photo_id            = Column(String,   nullable=False)
    user_id             = Column(BIGINT,   nullable=False)
    photo_message_id    = Column(BIGINT,   nullable=False)
    message_id          = Column(BIGINT,   nullable=False)

    timestamp           = Column(DateTime(timezone=True), nullable=False)
    ml_version          = Column(Float,    nullable=False)

    area                = Column(Integer,  nullable=False)
    
    added               = Column(Boolean, nullable   =True)

In [19]:
#| export
class User_properties (LocalBase):
    __tablename__ = 'user_properties'
    id                  = Column(BIGINT,  primary_key=True, autoincrement = True)
    user_id             = Column(BIGINT,   nullable=False)
    property            = Column(String,   nullable=False)
    value               = Column(String,   nullable=False)
    timestamp           = Column(DateTime(timezone=True), nullable=False)

In [20]:
#| export
class FoodsP (LocalBase):
    __tablename__ = 'foods_prompted' #inferenced text of altered food classes
    id                  = Column(BIGINT, primary_key=True)
    food_id             = Column(BIGINT, nullable=False)
    text                = Column(String, nullable=False)
    version             = Column(INT,    nullable=False)
    clip                = Column(ARRAY(REAL),     nullable=True)

In [21]:
pd.read_sql("select * from food.foods_prompted limit 5",engine)

,id,food_id,text,version,clip
0,1867,1099376,"the photo of ""Meat loaf made with chicken or ...",1,"[-0.009547241, 0.027974756, -0.0008684345, 0.0..."
1,1868,1099377,"the photo of ""Clams, stuffed"" dish, which is ...",1,"[0.034463722, 0.006951217, -0.030041857, 0.020..."
2,1869,1099378,"the photo of ""Codfish ball or cake"" dish, whi...",1,"[0.009532085, 0.012929418, 0.033163667, 0.0550..."
3,1870,1099379,"the photo of ""Crab cake"" dish, which is made ...",1,"[-0.0019750579, 0.011804303, -0.019615391, 0.0..."
4,1871,1099380,"the photo of ""Fish cake or patty, NS as to fi...",1,"[0.0056863017, 0.0066959057, 0.015637038, 0.03..."

In [22]:
#engine.execute("drop table food.foods_prompted")

In [23]:
#| export
class FoodsPI (LocalBase):
    __tablename__ = 'foods_prompted_images'
    id                  = Column(BIGINT, primary_key=True,autoincrement = True)
    food_id             = Column(BIGINT,   nullable=False)
    country_code        = Column(String,          nullable=True)
    store_name          = Column(String,          nullable=True)
    product_name        = Column(String,          nullable=True)
    path                = Column(String,          nullable=True)
    accuracy            = Column(Float,          nullable=True)

    clip                = Column(ARRAY(REAL),          nullable=False)

In [24]:
# engine.execute('alter table food.foods_prompted_images rename to foods_prompted_images')

In [25]:
#| export
class Indexed (LocalBase):
    __tablename__ = 'indexed'
    id                   = Column(BIGINT,  primary_key=True)
    indexed              = Column(Boolean, nullable   =False)

In [26]:
class Logs (LocalBase):
    __tablename__ = 'bot_logs'
    table = f'{schema}.{__tablename__}'


    id                   = Column(Integer,  primary_key=True, autoincrement = True)
    level_no             = Column(String,   nullable=True)
    func                 = Column(String,   nullable=True)
    id_key               = Column(String,   nullable=True)
    id_value             = Column(BIGINT,   nullable=True)
    msg                  = Column(String,   nullable=False)

    timestamp            = Column(DateTime, nullable=False)

In [27]:
# engine.execute('drop table food.bot_logs')

In [28]:
engine.execute(f'CREATE SCHEMA IF NOT EXISTS {schema};')

In [29]:
LocalBase.metadata.create_all(engine)

In [3]:
!nbdev_export

In [ ]:
# docker create container postgis
#docker pull postgres
#sudo docker run --name psql_food_prod -e POSTGRES_PASSWORD=KJnbuiwuef89k -d -p 5434:5432 postgres
#sudo docker run --name psql_food_dev  -e POSTGRES_PASSWORD=KJnbuiwuef89k -d -p 5433:5432 postgres

#dump and restore

# pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5434 -n food > bd.sql
#cat bd.sql | docker exec -i psql_food_prod psql -U postgres | >> log.log

In [ ]:
# pg_dump -t table_to_copy source_db | psql target_db

In [ ]:
## copy table from one database to an other
#pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5432 -t foods_prompted_images | docker exec -i psql_food_prod_1806 psql -U postgres