In [1]:
#default_exp psql

In [2]:
#export
from sqlalchemy import create_engine
from sqlalchemy import DateTime
from sqlalchemy import Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, String, Text, Float, Boolean, ForeignKey, and_, or_, MetaData
from sqlalchemy.orm.exc import NoResultFound, MultipleResultsFound
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy import update
from sqlalchemy import desc
import pandas as pd
import datetime
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql.expression import select, exists
from IPython.display import clear_output
from sqlalchemy import Column, Integer, String ,DateTime,UniqueConstraint,Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.dialects.postgresql import ARRAY
from sqlalchemy.sql.sqltypes import *
from sqlalchemy import *
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Executable, ClauseElement #_literal_as_text
from sqlalchemy.ext import compiler
from sqlalchemy.schema import DDLElement
from sqlalchemy.inspection import inspect
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import VARCHAR

from sqlalchemy.dialects.postgresql import JSON

from sqlalchemy.dialects.postgresql import REAL

from sqlalchemy import cast

In [3]:
from food.tools import *

In [4]:
#export
engine = create_engine('postgresql+psycopg2://postgres:KJnbuiwuef89k@localhost/postgres?port=5435',pool_size=64) #dev engine
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [5]:
def get_constraints():
    return pd.read_sql("""SELECT conrelid::regclass AS table_from
                          ,conname
                          ,pg_get_constraintdef(c.oid)
                    FROM   pg_constraint c
                    JOIN   pg_namespace n ON n.oid = c.connamespace
                    AND    n.nspname = 'public' -- your schema here
                    ORDER  BY conrelid::regclass::text, contype DESC;""",engine)

In [6]:
#export
def du(partitions='no'):

    df = query("""SELECT *, pg_size_pretty(total_bytes) AS total
                            , pg_size_pretty(index_bytes) AS INDEX
                            , pg_size_pretty(toast_bytes) AS toast
                            , pg_size_pretty(table_bytes) AS TABLE
                          FROM (
                          SELECT *, total_bytes-index_bytes-COALESCE(toast_bytes,0) AS table_bytes FROM (
                              SELECT c.oid,
                                     nspname AS table_schema,
                                     relname AS TABLE_NAME
                                      , c.reltuples AS row_estimate
                                      , pg_total_relation_size(c.oid) AS total_bytes
                                      , pg_indexes_size(c.oid) AS index_bytes
                                      , pg_total_relation_size(reltoastrelid) AS toast_bytes
                                  FROM pg_class c
                                  LEFT JOIN pg_namespace n ON n.oid = c.relnamespace
                                  WHERE relkind = 'r'
                          ) a
                        ) a;""")
    df = df[['table_schema','table_name','row_estimate','total_bytes','index_bytes']].sort_values('row_estimate',ascending=False)
    df = df[df['table_schema']=='public']
    df['total_bytes']=df['total_bytes']/10**9
    df['index_bytes']=df['index_bytes']/10**9
    df['row_estimate'] = (df['row_estimate']/1000).astype(int)
    df.columns = ['schema','table','mln_rows','total_Gb','index_Gb']

    if   partitions== 'no' : df = df[~df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    elif partitions== 'yes': df = df[ df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    else:                  df = df
    return df.sort_values('index_Gb',ascending=False)

In [7]:
#export
query = lambda q: pd.read_sql_query(q,engine)

In [8]:
#export
def current():
    return query("SELECT * FROM pg_stat_activity where state = 'active';")[['pid','query_start','state_change','wait_event_type','wait_event','query','backend_type']]

In [9]:
#export
def kill(pid):
    return engine.execute(f'SELECT pg_terminate_backend({pid})')

In [10]:
#export
schema = 'food'
LocalBase = declarative_base(metadata=MetaData(schema=schema))

In [11]:
#export
def insert_on_conflict(df,table,update = False, update_cols = None, engine = engine,unique_cols=[],schema=schema):
    metadata = MetaData(schema=schema)
    metadata.bind = engine
    table = Table(table, metadata, autoload=True)
    primary_keys = [key.name for key in inspect(table).primary_key]
#     unique_cols = [cc.name for c in list(inspect(table).constraints) for cc in c if type(c) == UniqueConstraint]

    insrt_vals = df.to_dict(orient='records')
    insrt_stmnt = insert(table).values(insrt_vals)

    if update    : 
        assert update_cols, 'update_cols must be provided if update'
        set_ = {c:getattr(insrt_stmnt.excluded, c) for c in update_cols}
        do_nothing_stmt  = insrt_stmnt.on_conflict_do_update (index_elements=unique_cols,set_=set_)

    else: do_nothing_stmt  = insrt_stmnt.on_conflict_do_nothing(index_elements=unique_cols)

    engine.execute(do_nothing_stmt)

In [12]:
#export
def read_sql(table,schema=schema,engine=engine): return pd.read_sql(f'select * from {schema}.{table}',engine)

In [13]:
schema

'food'

In [14]:
engine.table_names(schema)

/tmp/ipykernel_1533171/859941513.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names(schema)

['foods',
 'foods_prompted',
 'foods_prompted_images',
 'foods_prompted_images_new',
 'users',
 'dishes',
 'user_properties',
 'fundation_foods',
 'indexed',
 'bot_logs']

In [16]:
#export
class Foods (LocalBase):
    __tablename__ = 'foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,          nullable=False)
    protein             = Column(Float,          nullable=False)
    carb                = Column(Float,          nullable=False)
    fat                 = Column(Float,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [17]:
#export
class Users (LocalBase):
    __tablename__ = 'users' 
    id                  = Column(BIGINT,     primary_key=True)
    first_name          = Column(String,     nullable=False)
    last_name           = Column(String,     nullable=False)
    username            = Column(String,     nullable=True)
    language_code       = Column(String,     nullable=False)

In [18]:
#export
class Dishes (LocalBase):
    __tablename__ = 'dishes'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    description          = Column(String,   nullable=False)
    energy               = Column(Float,    nullable=False)
    protein              = Column(Float,    nullable=False)
    carb                 = Column(Float,    nullable=False)
    fat                  = Column(Float,    nullable=False)
    score                = Column(Float,    nullable=False)

    photo_id            = Column(String,   nullable=False)
    user_id             = Column(BIGINT,   nullable=False)
    photo_message_id    = Column(BIGINT,   nullable=False)
    message_id          = Column(BIGINT,   nullable=False)

    timestamp           = Column(DateTime(timezone=True), nullable=False)
    ml_version          = Column(Float,    nullable=False)

    grams               = Column(Float,    nullable=True)

In [20]:
# engine.execute('drop table food.dishes')

In [21]:
#export
class User_properties (LocalBase):
    __tablename__ = 'user_properties'
    id                  = Column(BIGINT,  primary_key=True, autoincrement = True)
    user_id             = Column(BIGINT,   nullable=False)
    property            = Column(String,   nullable=False)
    value               = Column(String,   nullable=False)
    timestamp           = Column(DateTime(timezone=True), nullable=False)

In [23]:
# engine.execute('truncate table food.user_properties')

In [24]:
pd.read_sql('select * from food.users',engine)

            id first_name   last_name          username language_code
0     78882798     Dmitry     Grankin    dmitry_grankin            en
1     63432403     Michel     Grankin          mgrankin            en
2     31301727      Maria   Shatalova          dangelom            ru
3    694230425    Eugenia    Grankina              None            ru
4    646033692    Наталия    Гранкина              None            ru
5   1218475308          L           R              None            ru
6   1660259279    Natalia           B    barbicanatalia            en
7    493934807     Polina  Galinskaya  PolinaGalinskaya            ru
8    123633126       Roma     Kulikov      roma_kulikov            ru
9    258759714     Ksenia   Kolpakova          ksukolpa            ru
10   632472418  Анастасия   Логунцова       LoguntsovaA            ru
11   118109341      Daria   Palatkina        beepboppee            ru
12   350611835      Maria  Bochenkova       BochenkovaM            en

In [25]:
# engine.execute('drop table food.dishes')

In [26]:
LocalBase.metadata.create_all(engine)

In [27]:
import pandas as pd

In [28]:
#export
class FoodsP (LocalBase):
    __tablename__ = 'foods_prompted' #inferenced text of altered food classes
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,           nullable=False)
    protein             = Column(Float,           nullable=False)
    carb                = Column(Float,           nullable=False)
    fat                 = Column(Float,           nullable=False)
    text                = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [29]:
#export
class FoodsPI (LocalBase):
    __tablename__ = 'foods_prompted_images'
    id                  = Column(BIGINT, primary_key=True,autoincrement = True)
    food_id             = Column(BIGINT,   nullable=False)
    country_code        = Column(String,          nullable=True)
    store_name          = Column(String,          nullable=True)
    product_name        = Column(String,          nullable=True)
    path                = Column(String,          nullable=True)
    accuracy            = Column(Float,          nullable=True)

    clip                = Column(ARRAY(REAL),          nullable=False)

In [30]:
#export
class Indexed (LocalBase):
    __tablename__ = 'indexed'
    id                   = Column(BIGINT,  primary_key=True)
    indexed              = Column(Boolean, nullable   =False)

In [31]:
class Logs (LocalBase):
    __tablename__ = 'bot_logs'
    table = f'{schema}.{__tablename__}'


    id                   = Column(Integer,  primary_key=True, autoincrement = True)
    level_no             = Column(String,   nullable=True)
    func                 = Column(String,   nullable=True)
    id_key               = Column(String,   nullable=True)
    id_value             = Column(Integer,   nullable=True)
    msg                  = Column(String,   nullable=False)

    timestamp            = Column(DateTime, nullable=False)

In [36]:
engine.execute('ALTER TABLE food.users ALTER COLUMN language_code DROP NOT NULL;')

In [32]:
pd.read_sql('select * from food.bot_logs order by id desc limit 10',engine)

,id,level_no,func,id_key,id_value,msg,timestamp
0,49,DEBUG,process_photo,user_id,694230425,process_photo started,2022-06-18 14:17:46.839632
1,48,DEBUG,process_photo,user_id,63432403,process_photo finished,2022-06-18 14:16:45.638475
2,47,DEBUG,process_photo,user_id,63432403,process_photo started,2022-06-18 14:16:43.482927
3,46,DEBUG,process_photo,user_id,694230425,process_photo started,2022-06-18 14:05:19.359477
4,45,DEBUG,start_command,user_id,694230425,start,2022-06-18 14:05:09.637376
5,44,DEBUG,process_photo,user_id,694230425,process_photo started,2022-06-18 14:04:51.613803
6,43,DEBUG,process_photo,user_id,694230425,process_photo started,2022-06-18 12:40:43.267819
7,42,DEBUG,weight_processing,user_id,31301727,weight_processing finished,2022-06-18 12:34:04.958071
8,41,DEBUG,weight_processing,user_id,31301727,weight_processing started,2022-06-18 12:34:04.475354
9,40,DEBUG,measurment,user_id,31301727,measurment,2022-06-18 12:34:01.730660

In [33]:
pd.read_sql('select * from food.users',engine)

         id first_name  last_name        username language_code
0  78882798     Dmitry    Grankin  dmitry_grankin            en
1  63432403     Michel    Grankin        mgrankin            en
2  31301727      Maria  Shatalova        dangelom            ru

In [30]:
# pd.read_sql('select * from food.bot_logs',engine)

In [31]:
# engine.execute('drop table food.bot_logs')

In [32]:
engine.execute(f'CREATE SCHEMA IF NOT EXISTS {schema};')

In [33]:
LocalBase.metadata.create_all(engine)

,id,level_no,func,id_key,id_value,msg,timestamp
0,1,DEBUG,remove_dish,user_id,78882798,remove_dish,2022-06-18 09:45:21.872152
1,2,DEBUG,process_photo,user_id,78882798,process_photo started,2022-06-18 09:45:47.913396
2,3,DEBUG,process_photo,user_id,78882798,process_photo finished,2022-06-18 09:45:49.467054
3,4,DEBUG,add_dish,user_id,78882798,add_dish,2022-06-18 09:45:52.561939
4,5,DEBUG,measurment,user_id,78882798,measurment,2022-06-18 09:45:52.576318
5,6,DEBUG,weight_processing,user_id,78882798,weight_processing started,2022-06-18 09:45:54.358028
6,7,DEBUG,weight_processing,user_id,78882798,weight_processing finished,2022-06-18 09:45:54.530066

In [34]:
!nbdev_build_lib

Converted 00_clipmodel.ipynb.
Converted 00_custom_pandas.ipynb.
Converted 00_paths.ipynb.
Converted 00_progress_check.ipynb.
Converted 00_psql.ipynb.
Converted 00_qdrant.ipynb.
Converted 00_tools.ipynb.
Converted 01_search.ipynb.
Converted inference.ipynb.
Converted stats.ipynb.

In [ ]:
# docker create container postgis
#docker pull postgres
#sudo docker run --name psql_food_prod -e POSTGRES_PASSWORD=KJnbuiwuef89k -d -p 5434:5432 postgres

#dump and restore

# pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5434 -n food > bd.sql
#cat bd.sql | docker exec -i psql_food_prod psql -U postgres | >> log.log

In [ ]:
pg_dump -t table_to_copy source_db | psql target_db

In [ ]:
## copy table from one database to an other
#pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5432 -t foods_prompted_images_new | docker exec -i psql_food_prod_1806 psql -U postgres