In [2]:
#default_exp psql

In [3]:
#export
from sqlalchemy import create_engine
from sqlalchemy import DateTime
from sqlalchemy import Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, String, Text, Float, Boolean, ForeignKey, and_, or_, MetaData
from sqlalchemy.orm.exc import NoResultFound, MultipleResultsFound
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy import update
from sqlalchemy import desc
import pandas as pd
import datetime
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql.expression import select, exists
from IPython.display import clear_output
from sqlalchemy import Column, Integer, String ,DateTime,UniqueConstraint,Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.dialects.postgresql import ARRAY
from sqlalchemy.sql.sqltypes import *
from sqlalchemy import *
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Executable, ClauseElement #_literal_as_text
from sqlalchemy.ext import compiler
from sqlalchemy.schema import DDLElement
from sqlalchemy.inspection import inspect
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import VARCHAR

from sqlalchemy.dialects.postgresql import JSON

from sqlalchemy.dialects.postgresql import REAL

from sqlalchemy import cast

from food.paths import branch
print(branch)

prod

In [4]:
from food.tools import *

In [5]:
#export

port = 5434 if branch == 'prod' else 5432


engine = create_engine(f'postgresql+psycopg2://postgres:KJnbuiwuef89k@localhost/postgres?port={port}',pool_size=64) #dev engine
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [6]:
def get_constraints():
    return pd.read_sql("""SELECT conrelid::regclass AS table_from
                          ,conname
                          ,pg_get_constraintdef(c.oid)
                    FROM   pg_constraint c
                    JOIN   pg_namespace n ON n.oid = c.connamespace
                    AND    n.nspname = 'public' -- your schema here
                    ORDER  BY conrelid::regclass::text, contype DESC;""",engine)

In [7]:
#export
def du(partitions='no'):

    df = query("""SELECT *, pg_size_pretty(total_bytes) AS total
                            , pg_size_pretty(index_bytes) AS INDEX
                            , pg_size_pretty(toast_bytes) AS toast
                            , pg_size_pretty(table_bytes) AS TABLE
                          FROM (
                          SELECT *, total_bytes-index_bytes-COALESCE(toast_bytes,0) AS table_bytes FROM (
                              SELECT c.oid,
                                     nspname AS table_schema,
                                     relname AS TABLE_NAME
                                      , c.reltuples AS row_estimate
                                      , pg_total_relation_size(c.oid) AS total_bytes
                                      , pg_indexes_size(c.oid) AS index_bytes
                                      , pg_total_relation_size(reltoastrelid) AS toast_bytes
                                  FROM pg_class c
                                  LEFT JOIN pg_namespace n ON n.oid = c.relnamespace
                                  WHERE relkind = 'r'
                          ) a
                        ) a;""")
    df = df[['table_schema','table_name','row_estimate','total_bytes','index_bytes']].sort_values('row_estimate',ascending=False)
    df = df[df['table_schema']=='public']
    df['total_bytes']=df['total_bytes']/10**9
    df['index_bytes']=df['index_bytes']/10**9
    df['row_estimate'] = (df['row_estimate']/1000).astype(int)
    df.columns = ['schema','table','mln_rows','total_Gb','index_Gb']

    if   partitions== 'no' : df = df[~df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    elif partitions== 'yes': df = df[ df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    else:                  df = df
    return df.sort_values('index_Gb',ascending=False)

In [8]:
#export
query = lambda q: pd.read_sql_query(q,engine)

In [9]:
#export
def current():
    return query("SELECT * FROM pg_stat_activity where state = 'active';")[['pid','query_start','state_change','wait_event_type','wait_event','query','backend_type']]

In [10]:
#export
def kill(pid):
    return engine.execute(f'SELECT pg_terminate_backend({pid})')

In [11]:
#export
schema = 'food'
LocalBase = declarative_base(metadata=MetaData(schema=schema))

In [12]:
#export
def insert_on_conflict(df,table,update = False, update_cols = None, engine = engine,unique_cols=[],schema=schema):
    metadata = MetaData(schema=schema)
    metadata.bind = engine
    table = Table(table, metadata, autoload=True)
    primary_keys = [key.name for key in inspect(table).primary_key]
#     unique_cols = [cc.name for c in list(inspect(table).constraints) for cc in c if type(c) == UniqueConstraint]

    insrt_vals = df.to_dict(orient='records')
    insrt_stmnt = insert(table).values(insrt_vals)

    if update    : 
        assert update_cols, 'update_cols must be provided if update'
        set_ = {c:getattr(insrt_stmnt.excluded, c) for c in update_cols}
        do_nothing_stmt  = insrt_stmnt.on_conflict_do_update (index_elements=unique_cols,set_=set_)

    else: do_nothing_stmt  = insrt_stmnt.on_conflict_do_nothing(index_elements=unique_cols)

    engine.execute(do_nothing_stmt)

In [13]:
#export
def read_sql(table,schema=schema,engine=engine): return pd.read_sql(f'select * from {schema}.{table}',engine)

In [14]:
schema

'food'

In [15]:
#engine.table_names(schema)

/tmp/ipykernel_1015726/859941513.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names(schema)

['foods',
 'users',
 'dishes',
 'user_properties',
 'foods_prompted',
 'foods_prompted_images',
 'indexed',
 'bot_logs']

In [16]:
#export
class Foods (LocalBase):
    __tablename__ = 'foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,          nullable=False)
    protein             = Column(Float,          nullable=False)
    carb                = Column(Float,          nullable=False)
    fat                 = Column(Float,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [17]:
#read_sql('foods')

,id,description,category,energy,protein,carb,fat,clip
0,1097524,"Milk, lactose free, reduced fat (2%)","Milk, reduced fat",50.0,3.35,4.91,1.90,"[0.015040726, 0.011575523, -0.011966778, 0.040..."
1,1097525,"Milk, lactose free, whole","Milk, whole",60.0,3.28,4.67,3.20,"[0.014815284, -0.004186348, -0.007967781, 0.02..."
2,1097603,"Yogurt, whole milk, baby food",Baby food: yogurt,61.0,3.47,4.66,3.25,"[0.0027644234, 0.0029128625, 0.022239361, 0.03..."
3,1097700,"Infant formula, NFS","Formula, ready-to-feed",66.0,1.38,7.12,3.56,"[0.0023559248, 0.017568443, 0.033846956, 0.020..."
4,1099619,Cabbage with ham hocks,Meat mixed dishes,71.0,7.97,4.50,2.49,"[0.03035846, 0.0039041196, -0.014388906, 0.015..."
...,...,...,...,...,...,...,...,...
7078,1104568,Cheese as ingredient in sandwiches,Not included in a food category,360.0,20.76,4.32,28.93,"[0.0047567077, 0.03878048, 0.043640774, -0.006..."
7079,1104569,Breakfast meat as ingredient in omelet,Not included in a food category,253.0,20.81,1.61,17.87,"[0.0051773326, 0.019715708, 0.0039956337, -0.0..."
7080,1104570,"Fish fillet, fried as ingredient in sandwiches",Not included in a food category,200.0,18.11,8.18,10.03,"[0.009361401, 0.023042753, 0.011918317, 0.0034..."
7081,1104571,Breading or batter as ingredient in food,Not included in a food category,201.0,6.32,39.64,1.39,"[-0.039442144, 0.017510977, 0.04945537, 0.0059..."
7082,1104572,Wheat bread as ingredient in sandwiches,Not included in a food category,264.0,11.40,45.42,3.98,"[0.010234108, 0.04141648, 0.019048885, -0.0130..."

In [18]:
#export
class Users (LocalBase):
    __tablename__ = 'users' 
    id                  = Column(BIGINT,     primary_key=True)
    first_name          = Column(String,     nullable=True)
    last_name           = Column(String,     nullable=True)
    username            = Column(String,     nullable=True)
    language_code       = Column(String,     nullable=True)

In [19]:
#read_sql('users')

         id       first_name  last_name        username language_code
0  78882798           Dmitry    Grankin  dmitry_grankin            en
1  31301727            Maria  Shatalova        dangelom            ru
2  41993212  Alyona Fedotova       None          HelFed            ru

In [20]:
#export
class Dishes (LocalBase):
    __tablename__ = 'dishes'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    description          = Column(String,   nullable=False)
    energy               = Column(Float,    nullable=False)
    protein              = Column(Float,    nullable=False)
    carb                 = Column(Float,    nullable=False)
    fat                  = Column(Float,    nullable=False)
    score                = Column(Float,    nullable=False)

    photo_id            = Column(String,   nullable=False)
    user_id             = Column(BIGINT,   nullable=False)
    photo_message_id    = Column(BIGINT,   nullable=False)
    message_id          = Column(BIGINT,   nullable=False)

    timestamp           = Column(DateTime(timezone=True), nullable=False)
    ml_version          = Column(Float,    nullable=False)

    grams               = Column(Float,    nullable=True)

In [42]:
read_sql('dishes')

,id,description,energy,protein,carb,fat,score,photo_id,user_id,photo_message_id,message_id,timestamp,ml_version,grams
0,1,"Antipasto with ham, fish, cheese, vegetables. ...",212.142857,15.595238,13.849048,10.521905,0.829672,AgACAgIAAxkBAAIvemK0xVc_VVrMw2XNbN3YtoszCw4UAA...,78882798,12154,12155,2022-06-23 19:56:10.253977+00:00,0.3,0.0
1,2,"Antipasto with ham, fish, cheese, vegetables. ...",212.142857,15.595238,13.849048,10.521905,0.829672,AgACAgIAAxkBAAIvgGK0xomFWje7C_Icl8bnd0BwqzccAA...,78882798,12160,12161,2022-06-23 20:01:31.096804+00:00,0.3,0.0
2,3,"Duck egg, cooked. Egg, yolk only, cooked, NS a...",190.178571,9.766071,11.857143,11.487857,0.866017,AgACAgIAAxkBAAIvgmK0xqdBHOX-dQ-_lV8tiCJtWmvaAA...,78882798,12162,12163,2022-06-23 20:01:46.499817+00:00,0.3,NaN
3,4,"Chicken, meatless, NFS. Chicken thigh, NS as t...",303.500000,18.178929,13.346071,20.349643,0.887138,AgACAgIAAxkBAAIvhGK0yYxpNoDVQmEPJnkTMf5MpLiDAA...,78882798,12164,12165,2022-06-23 20:14:06.952968+00:00,0.3,250.0
4,5,"Chicken, meatless, NFS. Chicken thigh, NS as t...",303.500000,18.178929,13.346071,20.349643,0.887138,AgACAgIAAxkBAAIvhmK1afhs1HLky9feO_zXrhHJ5sD6AA...,78882798,12166,12167,2022-06-24 07:38:34.914247+00:00,0.3,NaN
5,6,"Coffee, espresso. Tea, hot, leaf, oolong. Coff...",11.571429,0.283333,2.023810,0.249048,0.898398,AgACAgIAAxkBAAIviGK1h6RMHWPSSNGOHtt2_Law_WhDAA...,31301727,12168,12169,2022-06-24 09:45:10.806739+00:00,0.3,200.0
6,7,"Mixed salad greens, raw. Greek Salad, no dress...",86.777778,5.079444,5.317222,5.358889,0.879795,AgACAgIAAxkBAAIvimK1sgJcKs98QvohKzAf072fZCZNAA...,78882798,12170,12171,2022-06-24 12:45:56.981189+00:00,0.3,NaN
7,8,"Brains, cooked. Chicken and vegetable entree w...",145.615385,13.810769,10.250000,5.230769,0.838281,AgACAgIAAxkBAAIvjGK1zGWwjoIV_IfjbgUJ_bjByeAgAA...,78882798,12172,12173,2022-06-24 14:38:31.997854+00:00,0.3,NaN
8,9,"Barley, fat added. Pork shish kabob with veget...",165.944444,11.265000,13.352222,7.377222,0.877220,AgACAgIAAxkBAAIvjmK1zHi25CVwTaGK63l_WLJKtBBHAA...,78882798,12174,12175,2022-06-24 14:38:51.157050+00:00,0.3,NaN
9,10,"Hummus, plain. Tzatziki dip. Potato, home frie...",188.400000,5.992000,13.799500,12.929000,0.920197,AgACAgIAAxkBAAIvkGK18bazI42Uc2do7CILIGfXYUxrAA...,78882798,12176,12177,2022-06-24 17:17:45.298209+00:00,0.3,NaN
10,11,"Wine, dessert, sweet. Banana split. Cheese, co...",169.300000,6.895500,17.165000,5.842500,0.907370,AgACAgIAAxkBAAIvlGK5Yjuxb8tQdNsBv6LIMCGDFIcxAA...,31301727,12180,12181,2022-06-27 07:54:37.676936+00:00,0.3,200.0
11,12,"Coffee, Cappuccino, decaffeinated, with non-da...",53.476190,1.177143,10.421429,0.785714,0.933266,AgACAgIAAxkBAAIvlmK5YlngDF1sTp-uhpiYQ98d9oYQAA...,31301727,12182,12183,2022-06-27 07:55:06.748839+00:00,0.3,300.0
12,13,"Coffee, Cappuccino, decaffeinated, with non-da...",18.555556,0.736111,2.515556,0.624444,0.878326,AgACAgIAAxkBAAIvmGK5e5f3jLUCCa6ujSbSQD5GbReDAA...,31301727,12184,12185,2022-06-27 09:42:49.907450+00:00,0.3,300.0
13,14,"Squash, summer, souffle. Broccoli, cauliflower...",142.521739,3.932609,13.797826,8.990435,0.932036,AgACAgIAAxkBAAIvmmK5jw2b3Bv3yvAAAQE7ZRrgVYXOLQ...,31301727,12186,12187,2022-06-27 11:05:52.850554+00:00,0.3,200.0
14,15,"Egg omelet or scrambled egg, with dark-green v...",166.608696,9.840435,8.430435,10.428261,0.864977,AgACAgIAAxkBAAIvnGK6trwPAiiYqTMXCAnSy0QdZtL3AA...,41993212,12188,12189,2022-06-28 08:07:28.038924+00:00,0.3,200.0
15,16,"Nectarine, raw. Croissant, fruit. Lettuce, aru...",102.793103,3.283793,13.554138,4.314483,0.868431,AgACAgIAAxkBAAIvomK6usdLsgABS-cyQo7Mh3W02ny2nw...,41993212,12194,12195,2022-06-28 08:24:43.168164+00:00,0.3,100.0
16,17,"Lettuce, arugula, raw. Apple salad with dressi...",104.035714,4.696071,6.783571,6.745714,0.906567,AgACAgIAAxkBAAIvpGK684VbMaJ3KwAB2XsPWhIWklFMdg...,41993212,12196,12197,2022-06-28 12:26:48.069519+00:00,0.3,80.0
17,18,"Coffee, espresso. Blueberry juice. Coffee, bre...",40.916667,0.887083,7.123750,0.456250,0.845184,AgACAgIAAxkBAAIvpmK8DKa6Vd3qwS67DZqQ-ViSB6gIAA...,78882798,12198,12199,2022-06-29 08:26:16.627471+00:00,0.3,NaN
18,19,"Coffee, espresso. Tea, hot, leaf, oolong. Butt...",148.080000,0.461200,9.898000,10.448000,0.876756,AgACAgIAAxkBAAIvqGK8GLLVPSyiX_ZEVePi9skJZc1pAA...,78882798,12200,12201,2022-06-29 09:17:42.363055+00:00,0.3,NaN
19,20,"Blueberry juice. Coffee, espresso. Fruit and v...",49.300000,1.375500,8.428500,1.071500,0.847571,AgACAgIAAxkBAAIvq2K8GnnhQr7xuMt45wODWVRFQk09AA...,78882798,12203,12204,2022-06-29 09:25:42.911632+00:00,0.3,0.0
20,21,"Octopus salad, Puerto Rican style. Lettuce, Bo...",154.090909,7.744091,6.732727,10.820455,0.915897,AgACAgIAAxkBAAIvrWK8GqfpFAmEzLd4Ekp5dXIxfkkPAA...,78882798,12205,12206,2022-06-29 09:26:03.449553+00:00,0.3,NaN

In [23]:
#export
class User_properties (LocalBase):
    __tablename__ = 'user_properties'
    id                  = Column(BIGINT,  primary_key=True, autoincrement = True)
    user_id             = Column(BIGINT,   nullable=False)
    property            = Column(String,   nullable=False)
    value               = Column(String,   nullable=False)
    timestamp           = Column(DateTime(timezone=True), nullable=False)

In [24]:
#read_sql('user_properties')

   id   user_id     property          value                        timestamp
0   1  78882798  metric_unit          grams 2022-06-23 19:56:53.042251+00:00
1   2  78882798           tz  Europe/Lisbon 2022-06-23 19:57:13.697234+00:00
2   3  31301727  metric_unit          grams 2022-06-24 09:45:20.222985+00:00
3   4  41993212  metric_unit          grams 2022-06-28 08:07:48.384370+00:00
4   5  41993212           tz  Europe/Madrid 2022-06-28 08:08:47.445440+00:00

In [25]:
# engine.execute('truncate table food.user_properties')

In [26]:
# engine.execute('drop table food.dishes')

In [27]:
import pandas as pd

In [28]:
#export
class FoodsP (LocalBase):
    __tablename__ = 'foods_prompted' #inferenced text of altered food classes
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,           nullable=False)
    protein             = Column(Float,           nullable=False)
    carb                = Column(Float,           nullable=False)
    fat                 = Column(Float,           nullable=False)
    text                = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [29]:
#read_sql('foods_prompted')

,id,description,category,energy,protein,carb,fat,text,clip
0,1097524,"Milk, lactose free, reduced fat (2%)","Milk, reduced fat",50.0,3.35,4.91,1.90,"the food is milk, reduced fat . it has a littl...",None
1,1097525,"Milk, lactose free, whole","Milk, whole",60.0,3.28,4.67,3.20,"the food is milk, whole . it has a little bit ...",None
2,1098693,Chorizo,Sausages,346.0,19.30,2.63,28.10,the food is sausages . it has a little bit of ...,"[0.03794631, -0.026944248, -0.007641191, -0.01..."
3,1099193,Beef curry,Meat mixed dishes,111.0,7.56,6.46,6.53,the food is meat mixed dishes . it has a littl...,"[-0.0044911825, -0.011347377, 0.023338495, 0.0..."
4,1102682,"Pear, raw",Pears,57.0,0.36,15.23,0.14,the food is pears . it has a little bit of r...,"[0.03659307, -0.022669137, 0.006010248, 0.0017..."
...,...,...,...,...,...,...,...,...,...
7078,1104568,Cheese as ingredient in sandwiches,Not included in a food category,360.0,20.76,4.32,28.93,the food is not included in a food category . ...,"[0.0022666967, 0.01154297, 0.024617137, -0.002..."
7079,1104569,Breakfast meat as ingredient in omelet,Not included in a food category,253.0,20.81,1.61,17.87,the food is not included in a food category . ...,"[0.023824144, 0.0037874684, -0.0043534446, 0.0..."
7080,1104570,"Fish fillet, fried as ingredient in sandwiches",Not included in a food category,200.0,18.11,8.18,10.03,the food is not included in a food category . ...,"[-0.004140878, 0.0046868334, 0.005624573, 0.00..."
7081,1104571,Breading or batter as ingredient in food,Not included in a food category,201.0,6.32,39.64,1.39,the food is not included in a food category . ...,"[-0.023172276, -0.0005116335, 0.012617736, 0.0..."
7082,1104572,Wheat bread as ingredient in sandwiches,Not included in a food category,264.0,11.40,45.42,3.98,the food is not included in a food category . ...,"[6.191805e-05, 0.0059537366, 0.0068186433, -0...."

In [30]:
#export
class FoodsPI (LocalBase):
    __tablename__ = 'foods_prompted_images'
    id                  = Column(BIGINT, primary_key=True,autoincrement = True)
    food_id             = Column(BIGINT,   nullable=False)
    country_code        = Column(String,          nullable=True)
    store_name          = Column(String,          nullable=True)
    product_name        = Column(String,          nullable=True)
    path                = Column(String,          nullable=True)
    accuracy            = Column(Float,          nullable=True)

    clip                = Column(ARRAY(REAL),          nullable=False)

In [31]:
#pd.read_sql('select count(*) from food.foods_prompted_images',engine)

    count
0  104276

In [32]:
# engine.execute('alter table food.foods_prompted_images rename to foods_prompted_images')

In [33]:
#export
class Indexed (LocalBase):
    __tablename__ = 'indexed'
    id                   = Column(BIGINT,  primary_key=True)
    indexed              = Column(Boolean, nullable   =False)

In [34]:
#pd.read_sql('select count(*) from food.indexed',engine)

   count
0      0

In [35]:
class Logs (LocalBase):
    __tablename__ = 'bot_logs'
    table = f'{schema}.{__tablename__}'


    id                   = Column(Integer,  primary_key=True, autoincrement = True)
    level_no             = Column(String,   nullable=True)
    func                 = Column(String,   nullable=True)
    id_key               = Column(String,   nullable=True)
    id_value             = Column(Integer,   nullable=True)
    msg                  = Column(String,   nullable=False)

    timestamp            = Column(DateTime, nullable=False)

In [41]:
pd.read_sql('select count(*) from food.bot_logs',engine)

   count
0    114

In [40]:
pd.read_sql('select * from food.bot_logs order by id desc limit 5',engine)

,id,level_no,func,id_key,id_value,msg,timestamp
0,103,DEBUG,process_photo,user_id,78882798.0,process_photo finished,2022-06-29 09:17:42.516790
1,102,DEBUG,process_photo,user_id,78882798.0,process_photo started,2022-06-29 09:17:38.375630
2,101,DEBUG,None,None,NaN,starting bot,2022-06-29 09:05:11.645595
3,100,DEBUG,process_photo,user_id,78882798.0,process_photo finished,2022-06-29 08:26:16.738340
4,99,DEBUG,process_photo,user_id,78882798.0,process_photo started,2022-06-29 08:26:14.394777

In [29]:
engine.execute(f'CREATE SCHEMA IF NOT EXISTS {schema};')

In [30]:
LocalBase.metadata.create_all(engine)

In [31]:
!nbdev_build_lib

Converted 00_clipmodel.ipynb.
Converted 00_custom_pandas.ipynb.
Converted 00_paths.ipynb.
Converted 00_progress_check.ipynb.
Converted 00_psql.ipynb.
Converted 00_qdrant.ipynb.
Converted 00_tools.ipynb.
Converted 01_search.ipynb.
Converted inference.ipynb.
Converted stats.ipynb.

In [ ]:
# docker create container postgis
#docker pull postgres
#sudo docker run --name psql_food_prod -e POSTGRES_PASSWORD=KJnbuiwuef89k -d -p 5434:5432 postgres

#dump and restore

# pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5434 -n food > bd.sql
#cat bd.sql | docker exec -i psql_food_prod psql -U postgres | >> log.log

In [ ]:
# pg_dump -t table_to_copy source_db | psql target_db

In [ ]:
## copy table from one database to an other
#pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5432 -t foods_prompted_images | docker exec -i psql_food_prod_1806 psql -U postgres