In [1]:
#default_exp psql

In [2]:
#export
from sqlalchemy import create_engine
from sqlalchemy import DateTime
from sqlalchemy import Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, String, Text, Float, Boolean, ForeignKey, and_, or_, MetaData
from sqlalchemy.orm.exc import NoResultFound, MultipleResultsFound
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy import update
from sqlalchemy import desc
import pandas as pd
import datetime
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql.expression import select, exists
from IPython.display import clear_output
from sqlalchemy import Column, Integer, String ,DateTime,UniqueConstraint,Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.dialects.postgresql import ARRAY
from sqlalchemy.sql.sqltypes import *
from sqlalchemy import *
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Executable, ClauseElement #_literal_as_text
from sqlalchemy.ext import compiler
from sqlalchemy.schema import DDLElement
from sqlalchemy.inspection import inspect
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import VARCHAR

from sqlalchemy.dialects.postgresql import JSON

from sqlalchemy.dialects.postgresql import REAL

from sqlalchemy import cast

In [3]:
from food.tools import *

In [4]:
#export
engine = create_engine('postgresql+psycopg2://postgres:KJnbuiwuef89k@localhost/postgres?port=5432',pool_size=64) #dev engine
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [5]:
def get_constraints():
    return pd.read_sql("""SELECT conrelid::regclass AS table_from
                          ,conname
                          ,pg_get_constraintdef(c.oid)
                    FROM   pg_constraint c
                    JOIN   pg_namespace n ON n.oid = c.connamespace
                    AND    n.nspname = 'public' -- your schema here
                    ORDER  BY conrelid::regclass::text, contype DESC;""",engine)

In [6]:
#export
def du(partitions='no'):

    df = query("""SELECT *, pg_size_pretty(total_bytes) AS total
                            , pg_size_pretty(index_bytes) AS INDEX
                            , pg_size_pretty(toast_bytes) AS toast
                            , pg_size_pretty(table_bytes) AS TABLE
                          FROM (
                          SELECT *, total_bytes-index_bytes-COALESCE(toast_bytes,0) AS table_bytes FROM (
                              SELECT c.oid,
                                     nspname AS table_schema,
                                     relname AS TABLE_NAME
                                      , c.reltuples AS row_estimate
                                      , pg_total_relation_size(c.oid) AS total_bytes
                                      , pg_indexes_size(c.oid) AS index_bytes
                                      , pg_total_relation_size(reltoastrelid) AS toast_bytes
                                  FROM pg_class c
                                  LEFT JOIN pg_namespace n ON n.oid = c.relnamespace
                                  WHERE relkind = 'r'
                          ) a
                        ) a;""")
    df = df[['table_schema','table_name','row_estimate','total_bytes','index_bytes']].sort_values('row_estimate',ascending=False)
    df = df[df['table_schema']=='public']
    df['total_bytes']=df['total_bytes']/10**9
    df['index_bytes']=df['index_bytes']/10**9
    df['row_estimate'] = (df['row_estimate']/1000).astype(int)
    df.columns = ['schema','table','mln_rows','total_Gb','index_Gb']

    if   partitions== 'no' : df = df[~df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    elif partitions== 'yes': df = df[ df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    else:                  df = df
    return df.sort_values('index_Gb',ascending=False)

In [7]:
#export
query = lambda q: pd.read_sql_query(q,engine)

In [8]:
#export
def current():
    return query("SELECT * FROM pg_stat_activity where state = 'active';")[['pid','query_start','state_change','wait_event_type','wait_event','query','backend_type']]

In [9]:
#export
def kill(pid):
    return engine.execute(f'SELECT pg_terminate_backend({pid})')

In [10]:
#export
schema = 'food'
LocalBase = declarative_base(metadata=MetaData(schema=schema))

In [11]:
#export
def insert_on_conflict(df,table,update = False, update_cols = None, engine = engine,unique_cols=[],schema=schema):
    metadata = MetaData(schema=schema)
    metadata.bind = engine
    table = Table(table, metadata, autoload=True)
    primary_keys = [key.name for key in inspect(table).primary_key]
#     unique_cols = [cc.name for c in list(inspect(table).constraints) for cc in c if type(c) == UniqueConstraint]

    insrt_vals = df.to_dict(orient='records')
    insrt_stmnt = insert(table).values(insrt_vals)

    if update    : 
        assert update_cols, 'update_cols must be provided if update'
        set_ = {c:getattr(insrt_stmnt.excluded, c) for c in update_cols}
        do_nothing_stmt  = insrt_stmnt.on_conflict_do_update (index_elements=unique_cols,set_=set_)

    else: do_nothing_stmt  = insrt_stmnt.on_conflict_do_nothing(index_elements=unique_cols)

    engine.execute(do_nothing_stmt)

In [12]:
#export
def read_sql(table,schema=schema,engine=engine): return pd.read_sql(f'select * from {schema}.{table}',engine)

In [13]:
schema

'food'

In [14]:
engine.table_names(schema)

/tmp/ipykernel_3766183/859941513.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names(schema)

['users',
 'foods_prompted',
 'user_properties',
 'dishes',
 'foods_weighted',
 'portions',
 'users_test',
 'foods',
 'dishes_test',
 'dishes_depr',
 'users_metrics',
 'food_reference_images',
 'logs',
 'foods_prompted_images',
 'fundation_foods',
 'indexed']

In [15]:
#export
class Foods (LocalBase):
    __tablename__ = 'foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,          nullable=False)
    protein             = Column(Float,          nullable=False)
    carb                = Column(Float,          nullable=False)
    fat                 = Column(Float,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [16]:
#export
class Users (LocalBase):
    __tablename__ = 'users' 
    id                  = Column(BIGINT,     primary_key=True)
    first_name          = Column(String,     nullable=False)
    last_name           = Column(String,     nullable=False)
    username            = Column(String,     nullable=False)
    language_code       = Column(String,     nullable=False)

In [17]:
#export
class Dishes (LocalBase):
    __tablename__ = 'dishes'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    description          = Column(String,   nullable=False)
    energy               = Column(Float,    nullable=False)
    protein              = Column(Float,    nullable=False)
    carb                 = Column(Float,    nullable=False)
    fat                  = Column(Float,    nullable=False)
    score                = Column(Float,    nullable=False)

    photo_id            = Column(String,   nullable=False)
    user_id             = Column(BIGINT,   nullable=False)
    photo_message_id    = Column(BIGINT,   nullable=False)
    message_id          = Column(BIGINT,   nullable=False)

    timestamp           = Column(DateTime(timezone=True), nullable=False)
    ml_version          = Column(Float,    nullable=False)

    grams               = Column(Float,    nullable=True)

In [18]:
# engine.execute('drop table food.dishes')

In [19]:
#export
class User_properties (LocalBase):
    __tablename__ = 'user_properties'
    id                  = Column(BIGINT,  primary_key=True, autoincrement = True)
    user_id             = Column(BIGINT,   nullable=False)
    property            = Column(String,   nullable=False)
    value               = Column(String,   nullable=False)
    timestamp           = Column(DateTime(timezone=True), nullable=False)

In [23]:
pd.read_sql('select * from food.user_properties',engine)

   id   user_id property          value                        timestamp
0   1  78882798       tz       timezone 2022-06-14 13:49:01.995101+00:00
1   2  78882798       tz  Europe/Lisbon 2022-06-14 13:51:00.124458+00:00
2   3  78882798       tz  Europe/Lisbon 2022-06-17 10:07:56.648010+00:00
3   4  78882798       tz  Europe/Lisbon 2022-06-17 10:17:04.358608+00:00
4   5  78882798       tz   Asia/Yakutsk 2022-06-17 10:20:45.263007+00:00
5   6  78882798       tz   Asia/Yakutsk 2022-06-17 10:21:11.587740+00:00
6   7  78882798       tz  Europe/Moscow 2022-06-17 10:23:43.609250+00:00

In [19]:
# engine.execute('drop table food.dishes')

In [20]:
LocalBase.metadata.create_all(engine)

In [63]:
import pandas as pd

In [22]:
df = pd.read_sql('select * from food.dishes order by id desc limit 10',engine);df

,id,description,energy,protein,carb,fat,score,photo_id,user_id,photo_message_id,message_id,timestamp,ml_version,grams
0,2,"Hamburger slider, from fast food. Hamburger sl...",265.0,14.8425,25.09625,11.19375,0.260536,AgACAgIAAxkBAAIIUWKroSmZ4XIXsbWAAAG4uur6MQc70Q...,78882798,2129,2131,2022-06-16 21:31:30.281563+00:00,0.2,0.0
1,1,"Hamburger slider, from fast food. Hamburger sl...",265.0,14.8425,25.09625,11.19375,0.260536,AgACAgIAAxkBAAIIUWKroSmZ4XIXsbWAAAG4uur6MQc70Q...,78882798,2129,2130,2022-06-16 21:31:23.000909+00:00,0.2,0.0

In [71]:
df = pd.read_sql('select id,timestamp,grams,user_id from food.dishes order by id desc limit 10',engine);df

   id                        timestamp  grams   user_id
0  16 2022-06-14 18:52:08.556958+00:00    NaN  78882798
1  15 2022-06-14 14:34:54.132239+00:00    0.0  78882798
2  14 2022-06-14 14:17:59.796632+00:00    0.0  78882798
3  13 2022-06-14 14:15:28.384345+00:00    0.0  78882798
4  12 2022-06-14 14:09:21.183628+00:00    NaN  78882798
5  11 2022-06-14 14:08:01.526023+00:00    NaN  78882798
6  10 2022-06-14 13:59:20.086106+00:00   40.0  78882798
7   9 2022-06-14 13:22:58.999468+00:00   10.0  78882798
8   8 2022-06-14 12:25:34.526183+00:00   20.0  78882798
9   7 2022-06-14 12:19:09.752685+00:00   10.0  78882798

In [36]:
#export
class FoodsP (LocalBase):
    __tablename__ = 'foods_prompted' #inferenced text of altered food classes
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,           nullable=False)
    protein             = Column(Float,           nullable=False)
    carb                = Column(Float,           nullable=False)
    fat                 = Column(Float,           nullable=False)
    text                = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [37]:
#export
class FoodsPI (LocalBase):
    __tablename__ = 'foods_prompted_images'
    id                  = Column(BIGINT, primary_key=True,autoincrement = True)
    food_id             = Column(BIGINT,   nullable=False)
    country_code        = Column(String,          nullable=True)
    store_name          = Column(String,          nullable=True)
    product_name        = Column(String,          nullable=True)
    path                = Column(String,          nullable=True)
    accuracy            = Column(Float,          nullable=True)

    clip                = Column(ARRAY(REAL),          nullable=False)

In [38]:
#export
class FFoods (LocalBase):
    __tablename__ = 'fundation_foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [39]:
#export
class Food_reference_images (LocalBase):
    __tablename__ = 'food_reference_images' 
    id                  = Column(BIGINT, primary_key=True)
    food_id             = Column(BIGINT,   nullable=False)
    image_url           = Column(String,   nullable=False) 
    file_name           = Column(String,   nullable=False) 
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [40]:
#export
class Portions (LocalBase):
    __tablename__ = 'portions' 
    id                    = Column(BIGINT, primary_key = True)
    food_id               = Column(BIGINT ,nullable    = False)
    portion_description   = Column(String, nullable    = False)
    gram_weight           = Column(Float,  nullable    = False)

In [41]:
#export
class Indexed (LocalBase):
    __tablename__ = 'indexed'
    id                   = Column(BIGINT,  primary_key=True)
    indexed              = Column(Boolean, nullable   =False)

In [27]:
class Logs (LocalBase):
    __tablename__ = 'logs'
    table = f'{schema}.{__tablename__}'


    id                   = Column(Integer,  primary_key=True, autoincrement = True)
    level_no             = Column(String,   nullable=False)
    msg                  = Column(String,   nullable=False)
    name                 = Column(String,   nullable=False)
    script_name          = Column(String,   nullable=True)
    timestamp            = Column(DateTime, nullable=False)

In [28]:
engine.execute(f'CREATE SCHEMA IF NOT EXISTS {schema};')

In [29]:
LocalBase.metadata.create_all(engine)

In [23]:
!nbdev_build_lib

Converted 00_clipmodel.ipynb.
Converted 00_custom_pandas.ipynb.
Converted 00_paths.ipynb.
Converted 00_progress_check.ipynb.
Converted 00_psql.ipynb.
Converted 00_qdrant.ipynb.
Converted 00_tools.ipynb.
Converted 01_multiple_foods.ipynb.
Converted 01_multiple_foods_segmantation.ipynb.
Converted 01_search.ipynb.
Converted 0_template copy 2.ipynb.
Converted 0_template copy.ipynb.
Converted 0_template.ipynb.
Converted aiogram_bot.ipynb.
Converted classifying_glovo_images.ipynb.
Converted inference.ipynb.
Converted inline_kb.ipynb.
Converted stats.ipynb.
Converted testset_exploration.ipynb.
Converted usda_parsing.ipynb.