In [4]:
#default_exp psql

In [5]:
#export
from sqlalchemy import create_engine
from sqlalchemy import DateTime
from sqlalchemy import Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, String, Text, Float, Boolean, ForeignKey, and_, or_, MetaData
from sqlalchemy.orm.exc import NoResultFound, MultipleResultsFound
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy import update
from sqlalchemy import desc
import pandas as pd
import datetime
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql.expression import select, exists
from IPython.display import clear_output
from sqlalchemy import Column, Integer, String ,DateTime,UniqueConstraint,Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.dialects.postgresql import ARRAY
from sqlalchemy.sql.sqltypes import *
from sqlalchemy import *
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Executable, ClauseElement #_literal_as_text
from sqlalchemy.ext import compiler
from sqlalchemy.schema import DDLElement
from sqlalchemy.inspection import inspect
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import VARCHAR

from sqlalchemy.dialects.postgresql import JSON

from sqlalchemy.dialects.postgresql import REAL

from sqlalchemy import cast

In [6]:
from food.tools import *

In [7]:
#export
engine = create_engine('postgresql+psycopg2://postgres:KJnbuiwuef89k@localhost/postgres?port=5432',pool_size=64) #new
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [33]:
engine.table_names()

/tmp/ipykernel_727126/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['spatial_ref_sys',
 'foods',
 'indexed',
 'foods_weighted',
 'portions',
 'dishes',
 'users',
 'users_test',
 'dishes_test']

In [9]:
def get_constraints():
    return pd.read_sql("""SELECT conrelid::regclass AS table_from
                          ,conname
                          ,pg_get_constraintdef(c.oid)
                    FROM   pg_constraint c
                    JOIN   pg_namespace n ON n.oid = c.connamespace
                    AND    n.nspname = 'public' -- your schema here
                    ORDER  BY conrelid::regclass::text, contype DESC;""",engine)

In [10]:
#export
def du(partitions='no'):

    df = query("""SELECT *, pg_size_pretty(total_bytes) AS total
                            , pg_size_pretty(index_bytes) AS INDEX
                            , pg_size_pretty(toast_bytes) AS toast
                            , pg_size_pretty(table_bytes) AS TABLE
                          FROM (
                          SELECT *, total_bytes-index_bytes-COALESCE(toast_bytes,0) AS table_bytes FROM (
                              SELECT c.oid,
                                     nspname AS table_schema,
                                     relname AS TABLE_NAME
                                      , c.reltuples AS row_estimate
                                      , pg_total_relation_size(c.oid) AS total_bytes
                                      , pg_indexes_size(c.oid) AS index_bytes
                                      , pg_total_relation_size(reltoastrelid) AS toast_bytes
                                  FROM pg_class c
                                  LEFT JOIN pg_namespace n ON n.oid = c.relnamespace
                                  WHERE relkind = 'r'
                          ) a
                        ) a;""")
    df = df[['table_schema','table_name','row_estimate','total_bytes','index_bytes']].sort_values('row_estimate',ascending=False)
    df = df[df['table_schema']=='public']
    df['total_bytes']=df['total_bytes']/10**9
    df['index_bytes']=df['index_bytes']/10**9
    df['row_estimate'] = (df['row_estimate']/1000).astype(int)
    df.columns = ['schema','table','mln_rows','total_Gb','index_Gb']

    if   partitions== 'no' : df = df[~df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    elif partitions== 'yes': df = df[ df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    else:                  df = df
    return df.sort_values('index_Gb',ascending=False)

In [11]:
#export
query = lambda q: pd.read_sql_query(q,engine)

In [12]:
#export
def current():
    return query("SELECT * FROM pg_stat_activity where state = 'active';")[['pid','query_start','state_change','wait_event_type','wait_event','query','backend_type']]

In [13]:
#export
def kill(pid):
    return engine.execute(f'SELECT pg_terminate_backend({pid})')

In [14]:
#export
def insert_ignore(df,table,update = False, update_cols = None, engine = engine,unique_cols=[]):
    metadata = MetaData()
    metadata.bind = engine
    table = Table(table, metadata, autoload=True)
    primary_keys = [key.name for key in inspect(table).primary_key]
#     unique_cols = [cc.name for c in list(inspect(table).constraints) for cc in c if type(c) == UniqueConstraint]

    insrt_vals = df.to_dict(orient='records')
    insrt_stmnt = insert(table).values(insrt_vals)

    if update    : 
        assert update_cols, 'update_cols must be provided if update'
        set_ = {c:getattr(insrt_stmnt.excluded, c) for c in update_cols}
        do_nothing_stmt  = insrt_stmnt.on_conflict_do_update (index_elements=unique_cols,set_=set_)

    else: do_nothing_stmt  = insrt_stmnt.on_conflict_do_nothing(index_elements=unique_cols)

    engine.execute(do_nothing_stmt)

In [15]:
#export
class Foods (Base):
    __tablename__ = 'foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,          nullable=False)
    protein             = Column(Float,          nullable=False)
    carb                = Column(Float,          nullable=False)
    fat                 = Column(Float,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [16]:
#export
class Portions (Base):
    __tablename__ = 'portions' 
    id                    = Column(BIGINT, primary_key = True)
    food_id               = Column(BIGINT ,nullable    = False)
    portion_description   = Column(String, nullable    = False)
    gram_weight           = Column(Float,  nullable    = False)

In [17]:
#export
class Indexed (Base):
    __tablename__ = 'indexed'
    id                   = Column(BIGINT,  primary_key=True)
    indexed              = Column(Boolean, nullable   =False)

In [18]:
#export
class Dishes (Base):
    __tablename__ = 'dishes'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    food_id              = Column(BIGINT,  primary_key=True)
    description          = Column(String,   nullable=False)
    category             = Column(String,   nullable=False)
    energy               = Column(Float,    nullable=False)
    protein              = Column(Float,    nullable=False)
    carb                 = Column(Float,    nullable=False)
    fat                  = Column(Float,    nullable=False)
    score                = Column(Float,    nullable=False)
    image_url            = Column(String,   nullable=False)
    user_id              = Column(BIGINT,   primary_key=False)
    grams                = Column(Integer,  primary_key=False)
    measure_selected     = Column(String,   nullable=False)
    timestamp            = Column(DateTime(timezone=True), nullable=False)

In [19]:
#export
class Users_metrics (Base):
    __tablename__ = 'users_metrics'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    user_id              = Column(BIGINT,   nullable=False)
    height               = Column(Float,    nullable=False)          
    weight               = Column(Float,    nullable=False)
    year_of_birth        = Column(Integer,  nullable=False)
    month_of_birth       = Column(Integer,  nullable=True)
    day_of_birth         = Column(Integer,  nullable=True)
    man                  = Column(Boolean,  nullable=False)
    activity_level       = Column(Integer,  nullable=False)
    lat                  = Column(Float,   nullable=True)
    lon                  = Column(Float,   nullable=True)
    timezone             = Column(String,  nullable=True)
    target_deficit       = Column(Float,   nullable=True)
    target_intake        = Column(Float,   nullable=True)
    target_weight        = Column(Float,   nullable=True)

In [20]:
pd.read_sql('select COUNT(DISTINCT(USER_ID)) from DISHES',engine)

   count
0     33

In [27]:
df = pd.read_sql('select * from dishes',engine)

In [28]:
df.tail(5)

,food_id,description,category,energy,protein,carb,fat,score,image_url,user_id,grams,measure_selected,timestamp
113,1101531,"Pasta, gluten free","Pasta, noodles, cooked grains",35.80,0.6400,7.6100,0.2000,0.238084,https://api.telegram.org/file/bot5203882708:AA...,78882798,20.0,20,2022-04-07 19:27:26.278329+00:00
114,1102601,"Tangerine, raw",Citrus fruits,11.66,0.1782,2.9348,0.0682,0.288420,https://api.telegram.org/file/bot5203882708:AA...,78882798,22.0,2,2022-04-07 19:33:00.528926+00:00
115,1102667,"Kiwi fruit, raw",Other fruits and fruit salads,43.50,0.7950,10.5000,0.3300,0.314644,https://api.telegram.org/file/bot5203882708:AA...,78882798,75.0,1,2022-04-07 21:32:41.914211+00:00
116,1104140,"Coffee, espresso",Coffee,5.40,0.0720,1.0020,0.1080,0.258493,https://api.telegram.org/file/bot5203882708:AA...,78882798,60.0,1,2022-04-08 06:24:41.717390+00:00
117,1104139,"Coffee, Turkish",Coffee,64.48,0.2728,16.0456,0.0992,0.259229,https://api.telegram.org/file/bot5203882708:AA...,78882798,248.0,1,2022-04-08 08:36:40.524463+00:00

In [29]:
df[['description','energy','protein','carb','grams','timestamp']].tail(5)

,description,energy,protein,carb,grams,timestamp
113,"Pasta, gluten free",35.80,0.6400,7.6100,20.0,2022-04-07 19:27:26.278329+00:00
114,"Tangerine, raw",11.66,0.1782,2.9348,22.0,2022-04-07 19:33:00.528926+00:00
115,"Kiwi fruit, raw",43.50,0.7950,10.5000,75.0,2022-04-07 21:32:41.914211+00:00
116,"Coffee, espresso",5.40,0.0720,1.0020,60.0,2022-04-08 06:24:41.717390+00:00
117,"Coffee, Turkish",64.48,0.2728,16.0456,248.0,2022-04-08 08:36:40.524463+00:00

In [30]:
df.set_index('timestamp').resample('D')['energy'].sum()

timestamp
2022-04-05 00:00:00+00:00    4957.005
2022-04-06 00:00:00+00:00    9705.570
2022-04-07 00:00:00+00:00    5748.320
2022-04-08 00:00:00+00:00      69.880
Freq: D, Name: energy, dtype: float64

In [31]:
df.groupby('user_id')['food_id'].count().sort_values(ascending=False)

user_id
78882798      58
333133495     12
633783906      6
193243090      3
193724024      3
187967661      2
534939603      2
457495874      2
347300081      2
143791         2
31301727       2
102117795      2
73153969       2
139978036      1
100485706      1
1675611182     1
1552557847     1
35553214       1
530776934      1
472628047      1
55780034       1
436646044      1
298149634      1
144480349      1
269141143      1
252883064      1
215727563      1
6488767        1
108661174      1
169479105      1
154226752      1
154177176      1
2110771449     1
Name: food_id, dtype: int64

In [32]:
# engine.execute('truncate table dishes_test')

In [16]:
#export
class Dishes_test (Base):
    __tablename__ = 'dishes_test'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    food_id              = Column(BIGINT,  primary_key=True)
    description          = Column(String,   nullable=False)
    category             = Column(String,   nullable=False)
    energy               = Column(Float,    nullable=False)
    protein              = Column(Float,    nullable=False)
    carb                 = Column(Float,    nullable=False)
    fat                  = Column(Float,    nullable=False)
    score                = Column(Float,    nullable=False)
    image_url            = Column(String,   nullable=False)
    user_id              = Column(BIGINT,   primary_key=False)
    grams                = Column(Integer,  primary_key=False)
    measure_selected     = Column(String,   nullable=False)
    timestamp            = Column(DateTime(timezone=True), nullable=False)

In [17]:
#export
class Users_test (Base):
    __tablename__ = 'users_test'
    id                   = Column(BIGINT,  primary_key=True)
    lat                  = Column(Float,   nullable=False)
    lon                  = Column(Float,   nullable=False)
    timezone             = Column(String,  nullable=False)

In [18]:
# engine.execute('drop table dishes')

In [19]:
Base.metadata.create_all(engine)

In [20]:
!nbdev_build_lib

Converted 00_paths.ipynb.
Converted 00_progress_check.ipynb.
Converted 00_psql.ipynb.
Converted 00_recreate_milvus.ipynb.
Converted 00_tools.ipynb.
Converted 04_milvus.ipynb.
Converted 06_clip.ipynb.
Converted 0_template copy.ipynb.
Converted 0_template.ipynb.
Converted bot.ipynb.
Converted classfy_image.ipynb.
Converted image_segmentation.ipynb.
Converted inference.ipynb.
Converted milvus_search_test.ipynb.
Converted milvus_update.ipynb.
Converted openfoodfacts_json_parsing.ipynb.
Converted usda_parsing.ipynb.

In [21]:
df = pd.read_sql('dishes',engine);df

,food_id,description,category,energy,protein,carb,fat,score,image_url,user_id,grams,measure_selected,timestamp
0,1100300,"Egg omelet or scrambled egg, with cheese, meat...",Eggs and omelets,207.900,13.366500,1.480500,16.2960,0.267523,https://api.telegram.org/file/bot5091011572:AA...,78882798,105.0,1 egg,2022-04-05 12:13:12.393507+00:00
1,1100300,"Egg omelet or scrambled egg, with cheese, meat...",Eggs and omelets,218.295,14.034825,1.554525,17.1108,0.267523,https://api.telegram.org/file/bot5091011572:AA...,78882798,105.0,1 egg,2022-04-05 12:13:33.775918+00:00
2,1100839,"Biscuit, wheat","Biscuits, muffins, quick breads",162.900,3.375000,19.755000,8.1855,0.260014,https://api.telegram.org/file/bot5091011572:AA...,78882798,45.0,1 biscuit,2022-04-05 12:14:05.757800+00:00
3,1104140,"Coffee, espresso",Coffee,5.400,0.072000,1.002000,0.1080,0.257837,https://api.telegram.org/file/bot5091011572:AA...,78882798,60.0,1 espresso cup (2 fl oz),2022-04-05 12:17:25.792078+00:00

In [26]:
ids = df['ids'].iloc[-1]

In [28]:
r = pd.read_sql(f""" select * from foods_big where id in {tuple(ids)}""",engine)

In [55]:
df = pd.read_sql('select product_name,keywords,ingredients_text,categories,food_groups from foods_big',engine)

In [60]:
text = df[df['product_name']=="Bananas"]

In [61]:
text['product_name']+ '. ' + text['food_groups']+ '. '+ text['categories']+ '. ' + text['ingredients_text']+'. ' + text['keywords']

33068    Bananas. fruits. Plant-based foods and beverag...
dtype: object

In [30]:
ids

[465294, 598800, 710090, 936017, 1079685, 2895392]

0    [0.2860354483127594, 0.28499510884284973, 0.28...
Name: scores, dtype: object

In [38]:
r

,id,product_name,keywords,ingredients_text,categories,food_groups,energy_kcal_100g,proteins_100g,fat_100g,carbohydrates_100g,clip,score
0,465294,Munz banana,"banana, munz",NaN,NaN,NaN,410.0,3.4,12.0,70.000000,"[0.0055303797, 0.004667505, 0.0046299044, 0.01...","[0.2860354483127594, 0.28499510884284973, 0.28..."
1,598800,Munz Banana,"banana, munz",NaN,NaN,NaN,410.0,3.4,12.0,71.000000,"[0.0055303797, 0.004667505, 0.0046299044, 0.01...",NaN
2,710090,Bananito,bananito,NaN,NaN,NaN,320.0,2.0,0.4,77.200000,"[0.03175812, 0.0021687278, 0.02427942, -0.0192...",NaN
3,936017,Brilliant banana,"brilliant, banana",NaN,NaN,NaN,307.0,4.5,0.5,88.000000,"[0.011551896, -0.019033834, -0.0094997715, 0.0...",NaN
4,1079685,Rahmglace Banane,"rahmglace, banane",NaN,NaN,NaN,264.0,3.3,17.0,24.000000,"[0.030170137, 0.024351714, -0.020463727, 0.057...",NaN
5,2895392,Banane cuor di frutta,"banane, di, frutta, cuor",NaN,NaN,NaN,519.0,1.8,26.0,63.299999,"[0.016010862, -0.010646572, -0.0017050714, 0.0...",NaN

In [43]:
r['score'] = df['scores'].tolist()[0]

In [44]:
r

,id,product_name,keywords,ingredients_text,categories,food_groups,energy_kcal_100g,proteins_100g,fat_100g,carbohydrates_100g,clip,score
0,465294,Munz banana,"banana, munz",NaN,NaN,NaN,410.0,3.4,12.0,70.000000,"[0.0055303797, 0.004667505, 0.0046299044, 0.01...",0.286035
1,598800,Munz Banana,"banana, munz",NaN,NaN,NaN,410.0,3.4,12.0,71.000000,"[0.0055303797, 0.004667505, 0.0046299044, 0.01...",0.284995
2,710090,Bananito,bananito,NaN,NaN,NaN,320.0,2.0,0.4,77.200000,"[0.03175812, 0.0021687278, 0.02427942, -0.0192...",0.284132
3,936017,Brilliant banana,"brilliant, banana",NaN,NaN,NaN,307.0,4.5,0.5,88.000000,"[0.011551896, -0.019033834, -0.0094997715, 0.0...",0.281639
4,1079685,Rahmglace Banane,"rahmglace, banane",NaN,NaN,NaN,264.0,3.3,17.0,24.000000,"[0.030170137, 0.024351714, -0.020463727, 0.057...",0.281140
5,2895392,Banane cuor di frutta,"banane, di, frutta, cuor",NaN,NaN,NaN,519.0,1.8,26.0,63.299999,"[0.016010862, -0.010646572, -0.0017050714, 0.0...",0.278830