In [2]:
#default_exp psql

In [3]:
#export
from sqlalchemy import create_engine
from sqlalchemy import DateTime
from sqlalchemy import Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, String, Text, Float, Boolean, ForeignKey, and_, or_, MetaData
from sqlalchemy.orm.exc import NoResultFound, MultipleResultsFound
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy import update
from sqlalchemy import desc
import pandas as pd
import datetime
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql.expression import select, exists
from IPython.display import clear_output
from sqlalchemy import Column, Integer, String ,DateTime,UniqueConstraint,Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.dialects.postgresql import ARRAY
from sqlalchemy.sql.sqltypes import *
from sqlalchemy import *
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Executable, ClauseElement #_literal_as_text
from sqlalchemy.ext import compiler
from sqlalchemy.schema import DDLElement
from sqlalchemy.inspection import inspect
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import VARCHAR

from sqlalchemy.dialects.postgresql import JSON

from sqlalchemy.dialects.postgresql import REAL

from sqlalchemy import cast

In [4]:
from food.tools import *

In [5]:
#export
engine = create_engine('postgresql+psycopg2://postgres:KJnbuiwuef89k@localhost/postgres?port=5435',pool_size=64) #dev engine
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [6]:
def get_constraints():
    return pd.read_sql("""SELECT conrelid::regclass AS table_from
                          ,conname
                          ,pg_get_constraintdef(c.oid)
                    FROM   pg_constraint c
                    JOIN   pg_namespace n ON n.oid = c.connamespace
                    AND    n.nspname = 'public' -- your schema here
                    ORDER  BY conrelid::regclass::text, contype DESC;""",engine)

In [7]:
#export
def du(partitions='no'):

    df = query("""SELECT *, pg_size_pretty(total_bytes) AS total
                            , pg_size_pretty(index_bytes) AS INDEX
                            , pg_size_pretty(toast_bytes) AS toast
                            , pg_size_pretty(table_bytes) AS TABLE
                          FROM (
                          SELECT *, total_bytes-index_bytes-COALESCE(toast_bytes,0) AS table_bytes FROM (
                              SELECT c.oid,
                                     nspname AS table_schema,
                                     relname AS TABLE_NAME
                                      , c.reltuples AS row_estimate
                                      , pg_total_relation_size(c.oid) AS total_bytes
                                      , pg_indexes_size(c.oid) AS index_bytes
                                      , pg_total_relation_size(reltoastrelid) AS toast_bytes
                                  FROM pg_class c
                                  LEFT JOIN pg_namespace n ON n.oid = c.relnamespace
                                  WHERE relkind = 'r'
                          ) a
                        ) a;""")
    df = df[['table_schema','table_name','row_estimate','total_bytes','index_bytes']].sort_values('row_estimate',ascending=False)
    df = df[df['table_schema']=='public']
    df['total_bytes']=df['total_bytes']/10**9
    df['index_bytes']=df['index_bytes']/10**9
    df['row_estimate'] = (df['row_estimate']/1000).astype(int)
    df.columns = ['schema','table','mln_rows','total_Gb','index_Gb']

    if   partitions== 'no' : df = df[~df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    elif partitions== 'yes': df = df[ df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    else:                  df = df
    return df.sort_values('index_Gb',ascending=False)

In [8]:
#export
query = lambda q: pd.read_sql_query(q,engine)

In [9]:
#export
def current():
    return query("SELECT * FROM pg_stat_activity where state = 'active';")[['pid','query_start','state_change','wait_event_type','wait_event','query','backend_type']]

In [10]:
#export
def kill(pid):
    return engine.execute(f'SELECT pg_terminate_backend({pid})')

In [11]:
#export
schema = 'food'
LocalBase = declarative_base(metadata=MetaData(schema=schema))

In [12]:
#export
def insert_on_conflict(df,table,update = False, update_cols = None, engine = engine,unique_cols=[],schema=schema):
    metadata = MetaData(schema=schema)
    metadata.bind = engine
    table = Table(table, metadata, autoload=True)
    primary_keys = [key.name for key in inspect(table).primary_key]
#     unique_cols = [cc.name for c in list(inspect(table).constraints) for cc in c if type(c) == UniqueConstraint]

    insrt_vals = df.to_dict(orient='records')
    insrt_stmnt = insert(table).values(insrt_vals)

    if update    : 
        assert update_cols, 'update_cols must be provided if update'
        set_ = {c:getattr(insrt_stmnt.excluded, c) for c in update_cols}
        do_nothing_stmt  = insrt_stmnt.on_conflict_do_update (index_elements=unique_cols,set_=set_)

    else: do_nothing_stmt  = insrt_stmnt.on_conflict_do_nothing(index_elements=unique_cols)

    engine.execute(do_nothing_stmt)

In [13]:
#export
def read_sql(table,schema=schema,engine=engine): return pd.read_sql(f'select * from {schema}.{table}',engine)

In [14]:
schema

'food'

In [15]:
engine.table_names(schema)

/tmp/ipykernel_788733/859941513.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names(schema)

['foods',
 'foods_prompted',
 'foods_prompted_images',
 'users',
 'dishes',
 'user_properties',
 'fundation_foods',
 'indexed',
 'bot_logs']

In [16]:
#export
class Foods (LocalBase):
    __tablename__ = 'foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,          nullable=False)
    protein             = Column(Float,          nullable=False)
    carb                = Column(Float,          nullable=False)
    fat                 = Column(Float,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [17]:
#export
class Users (LocalBase):
    __tablename__ = 'users' 
    id                  = Column(BIGINT,     primary_key=True)
    first_name          = Column(String,     nullable=False)
    last_name           = Column(String,     nullable=False)
    username            = Column(String,     nullable=True)
    language_code       = Column(String,     nullable=False)

In [18]:
#export
class Dishes (LocalBase):
    __tablename__ = 'dishes'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    description          = Column(String,   nullable=False)
    energy               = Column(Float,    nullable=False)
    protein              = Column(Float,    nullable=False)
    carb                 = Column(Float,    nullable=False)
    fat                  = Column(Float,    nullable=False)
    score                = Column(Float,    nullable=False)

    photo_id            = Column(String,   nullable=False)
    user_id             = Column(BIGINT,   nullable=False)
    photo_message_id    = Column(BIGINT,   nullable=False)
    message_id          = Column(BIGINT,   nullable=False)

    timestamp           = Column(DateTime(timezone=True), nullable=False)
    ml_version          = Column(Float,    nullable=False)

    grams               = Column(Float,    nullable=True)

In [19]:
pd.read_sql('select * from food.dishes',engine)

,id,description,energy,protein,carb,fat,score,photo_id,user_id,photo_message_id,message_id,timestamp,ml_version,grams
0,16,"Octopus salad, Puerto Rican style. Blood sausage",231.181818,12.240000,6.111818,17.305455,0.253988,AgACAgIAAxkBAAIub2Kt8uKKjpv1HFqg9JasWkZptzsPAA...,78882798,11887,11888,2022-06-18 15:44:36.779034+00:00,0.2,250.0
1,1,"Hamburger, on wheat bun, 1 small patty. Chicke...",246.600000,19.216000,6.735000,15.451000,0.219681,AgACAgIAAxkBAAIuNmKtnkw4RqDRFwdniWMPRrGDsAamAA...,78882798,11830,11831,2022-06-18 09:43:42.410628+00:00,0.2,0.0
2,2,"Hamburger slider, from fast food. Hamburger sl...",265.000000,14.842500,25.096250,11.193750,0.260536,AgACAgIAAxkBAAIuPGKtnstdqFLB4AYnGKXZQCjdnkk7AA...,78882798,11836,11837,2022-06-18 09:45:49.347268+00:00,0.2,50.0
3,3,"Animal fat or drippings. Oatmeal, instant, pla...",382.100000,4.864000,20.416000,31.415000,0.233908,AgACAgIAAxkBAAIuQGKtpE-joMoPlbItxUEoyNxQb1qOAA...,78882798,11840,11841,2022-06-18 10:09:21.635615+00:00,0.2,NaN
4,4,"Sesame dressing, light. Infant formula, liquid...",169.200000,7.746000,13.132000,10.205000,0.263189,AgACAgIAAxkBAAIuQmKtpHObmCQ768UNJ2VkzgTMcHU5AA...,78882798,11842,11843,2022-06-18 10:09:57.926515+00:00,0.2,NaN
5,5,"Peach, frozen. Peach, dried",76.272727,1.344545,18.880000,0.360000,0.235006,AgACAgIAAxkBAAIuRGKtpJVnRnHuOs0YKOtOMbIBsBnKAA...,78882798,11844,11845,2022-06-18 10:10:31.226328+00:00,0.2,NaN
6,6,"Cherries, raw. Pie, berry, not blackberry, blu...",94.625000,1.255000,19.346250,2.115000,0.250012,AgACAgIAAxkBAAIuRmKtpLWwNiC5kzQ3Jd959266EdfZAA...,78882798,11846,11847,2022-06-18 10:11:04.377400+00:00,0.2,NaN
7,7,"Pasta with cream sauce, poultry, and added veg...",117.400000,5.686000,13.163000,4.994000,0.281152,AgACAgIAAxkBAAIuSWKtrsuhWwtkE2UNdcVIv2qR4tj9AA...,63432403,11849,11850,2022-06-18 10:54:05.730046+00:00,0.2,NaN
8,8,"Apple, raw. Fruit juice blend, 100% juice",51.111111,0.222222,13.252222,0.158889,0.285208,AgACAgIAAxkBAAIuVGKtwNgwVZ0KzMDTJJ2dBjfvrttZAA...,78882798,11860,11861,2022-06-18 12:11:07.666502+00:00,0.2,NaN
9,9,"Peach, raw. Apple, raw",44.500000,0.747500,11.027500,0.245000,0.260243,AgACAgIAAxkBAAIuVmKtwRtb-Z35lkFuLa3FLorAl30hAA...,78882798,11862,11863,2022-06-18 12:12:13.324765+00:00,0.2,NaN
10,10,"Sugar substitute, aspartame, powder. Applesauc...",303.909091,5.002727,49.274545,10.600000,0.235656,AgACAgIAAxkBAAIuWmKtwVnVmbyyZmM5hRlOI5wasIy6AA...,78882798,11866,11867,2022-06-18 12:13:15.911435+00:00,0.2,NaN
11,11,"Salmon, coated, baked or broiled, made with ma...",189.444444,23.766667,5.593333,7.287778,0.270231,AgACAgIAAxkBAAIuX2KtxjAENbryfhDjds9XMchqt_7rAA...,31301727,11871,11872,2022-06-18 12:33:53.989716+00:00,0.2,100.0
12,12,"Hamburger, on wheat bun, 1 large patty. Pork s...",242.375000,15.856250,20.042500,10.631250,0.260479,AgACAgIAAxkBAAIuZmKt3ksrGSxdXdlgMwAB7ftGWZ2Aqw...,63432403,11878,11879,2022-06-18 14:16:45.549208+00:00,0.2,NaN
13,13,"Seafood garden salad with seafood, lettuce, to...",199.000000,12.168462,22.529231,6.942308,0.174583,AgACAgIAAxkBAAIuaWKt5XalZqQaImlfx9pJsS3lmr5mAA...,694230425,11881,11882,2022-06-18 14:47:20.573256+00:00,0.2,NaN
14,14,"Ladoo, round ball, Asian-Indian dessert. Sweet...",166.500000,3.965000,20.511250,8.100000,0.256595,AgACAgIAAxkBAAIua2Kt5fq7DwABv819bpAsWEutUPMMnA...,646033692,11883,11884,2022-06-18 14:49:32.586556+00:00,0.2,NaN
15,15,"Potato soup, prepared with water. Broccoli, co...",60.846154,2.316154,8.440769,2.113077,0.291216,AgACAgIAAxkBAAIubWKt8jcFtCxVfgnO4B-9Q2M-sALWAA...,78882798,11885,11886,2022-06-18 15:41:45.270193+00:00,0.2,250.0
16,17,"Codfish soup with noodles, Puerto Rican style",91.133333,5.863333,12.824667,1.862667,0.325121,AgACAgIAAxkBAAIucWKt_8uBKFwRP7rPE2Kv6ebmpsQzAA...,78882798,11889,11890,2022-06-18 16:39:41.602123+00:00,0.2,200.0
17,18,"Pie, apple, individual size or tart. Pie, pear...",294.285714,2.797143,40.245714,14.408571,0.263370,AgACAgIAAxkBAAIuc2KuCuDrPfLHAX41dG02PehmRRxTAA...,78882798,11891,11892,2022-06-18 17:26:58.849067+00:00,0.2,50.0
18,19,"Crackers, multigrain. Cookie, with peanut butt...",419.000000,6.916667,56.251667,18.681667,0.254335,AgACAgIAAxkBAAIudWKuC3yIFvbz_rXG3tZL6XkQEvUQAA...,78882798,11893,11894,2022-06-18 17:29:34.708908+00:00,0.2,20.0
19,20,"Popsicle, NFS",71.400000,0.328000,17.530000,0.296000,0.278237,AgACAgIAAxkBAAIud2KuDLCCD1c_hAfLc3M8XFiFibcSAA...,78882798,11895,11896,2022-06-18 17:34:42.522178+00:00,0.2,NaN
20,21,"Carrots, canned, reduced sodium, cooked with b...",30.600000,0.698000,5.188000,1.040000,0.259849,AgACAgIAAxkBAAIueWKuErIAAfAGLla-JLtgRAn2R-19Qw...,78882798,11897,11898,2022-06-18 18:00:20.278706+00:00,0.2,NaN
21,22,"Breakfast tart, lowfat. Cereal (Quaker Granola...",313.750000,6.749375,57.346250,7.162500,0.256479,AgACAgQAAxkBAAIufWKuHRK2vW6z0NSuUmihLBfZj_SzAA...,1218475308,11901,11902,2022-06-18 18:44:36.107848+00:00,0.2,NaN
22,23,"Rice, creamed, made with milk and sugar, Puert...",104.916667,6.002500,12.830833,3.375833,0.270989,AgACAgQAAxkBAAIuf2KuHVBHnSzWWt4UUfQBjfKyuLE5AA...,1218475308,11903,11904,2022-06-18 18:45:38.331874+00:00,0.2,NaN
23,24,"Buckwheat groats, NS as to fat. Oatmeal, insta...",100.400000,3.402000,17.643000,2.470000,0.291860,AgACAgIAAxkBAAIugWKuRbcmhFSz4xH9L5aNgs199DFiAA...,694230425,11905,11906,2022-06-18 21:38:02.257710+00:00,0.2,200.0
24,25,"Ghee, clarified butter. Oatmeal, instant, plai...",369.100000,2.611000,12.253000,35.273000,0.284222,AgACAgIAAxkBAAIug2KuRerkGBuHn_JgPGUQP4iXHYhaAA...,694230425,11907,11908,2022-06-18 21:38:53.058129+00:00,0.2,20.0
25,26,"Ghee, clarified butter. Oatmeal, instant, plai...",369.100000,2.611000,12.253000,35.273000,0.284222,AgACAgIAAxkBAAIug2KuRerkGBuHn_JgPGUQP4iXHYhaAA...,694230425,11907,11909,2022-06-18 21:39:09.773622+00:00,0.2,NaN
26,27,"Johnnycake. Crepe, NFS. Dosa (Indian), with fi...",226.100000,8.601000,31.122000,7.349000,0.268474,AgACAgIAAxkBAAIuhmKuRgYRSGmdMVGMaLDRdwexGn3WAA...,694230425,11910,11911,2022-06-18 21:39:20.954193+00:00,0.2,50.0
27,28,"Fruit salad, fresh or raw, including citrus fr...",55.875000,0.797500,14.145000,0.211250,0.244221,AgACAgIAAxkBAAIuiGKuRiEHyb9qB6HAmMOxZ-mNnODvAA...,694230425,11912,11913,2022-06-18 21:39:47.574127+00:00,0.2,NaN
28,29,"Hamburger slider, from fast food. Hamburger sl...",265.000000,14.842500,25.096250,11.193750,0.260536,AgACAgIAAxkBAAIuimKuzPojDC6Y7tip0df8qQd25jWKAA...,78882798,11914,11915,2022-06-19 07:15:08.013449+00:00,0.2,NaN
29,30,"Cherries, raw",106.000000,0.922000,26.580000,0.174000,0.240040,AgACAgIAAxkBAAIujGKvD4dLbhljhXkAASQtGhfpThMrew...,78882798,11916,11917,2022-06-19 11:59:05.329158+00:00,0.2,100.0
30,31,M&M's Pretzel Chocolate Candies. Frankfurter o...,298.428571,8.291429,42.035714,10.802857,0.179834,AgACAgIAAxkBAAIujmKvP-a0UCnYf9WcMOFecLjiwoaoAA...,78882798,11918,11919,2022-06-19 15:25:27.837001+00:00,0.2,NaN
31,32,"Egg omelet or scrambled egg, with meat and veg...",203.500000,11.225833,13.268333,11.674167,0.262152,AgACAgIAAxkBAAIukGKvQCdasmEI9bEhY_HPcbAPZZodAA...,78882798,11920,11921,2022-06-19 15:26:33.734724+00:00,0.2,NaN
32,33,"Beef, broth, bouillon, or consomme. Mushroom s...",67.266667,1.514667,11.040667,2.034000,0.278222,AgACAgIAAxkBAAIukmKvRoumGpub716r0BvEp8vT81hQAA...,78882798,11922,11923,2022-06-19 15:53:49.929839+00:00,0.2,200.0
33,34,"Beef, potatoes, and vegetables excluding carro...",143.928571,10.289286,12.020714,5.947143,0.287812,AgACAgIAAxkBAAIulGKvSIuy_yqiT_jZqSHBP3t3chJoAA...,78882798,11924,11925,2022-06-19 16:02:21.526287+00:00,0.2,250.0
34,35,"Potato from Puerto Rican chicken fricassee, wi...",98.000000,8.015333,9.246667,3.112667,0.315661,AgACAgIAAxkBAAIulmKvTIwgsBnxLGrAmTgDfD5V-XmhAA...,78882798,11926,11927,2022-06-19 16:19:26.753020+00:00,0.2,200.0
35,36,"Cherries, raw. M&M's Almond Chocolate Candies",178.636364,2.303636,30.246364,5.953636,0.237245,AgACAgIAAxkBAAIumGKvm21CRCtJhlxgFWetNCVdFIkSAA...,78882798,11928,11929,2022-06-19 21:55:59.311607+00:00,0.2,NaN
36,37,Mixed fruit tart filled with custard or cream ...,251.333333,3.420000,32.860000,12.304444,0.270880,AgACAgIAAxkBAAIummKwFfibfka2Z9JKaJeohxSbffC6AA...,78882798,11930,11931,2022-06-20 06:38:50.925636+00:00,0.2,NaN
37,38,"Egg omelet or scrambled egg, with cheese, meat...",175.153846,10.453846,2.752308,12.554615,0.258874,AgACAgIAAxkBAAIunGKwUg88PRFX7f4B0c3CQPdPSz_jAA...,31301727,11932,11933,2022-06-20 10:55:12.839032+00:00,0.2,340.0
38,39,"Egg omelet or scrambled egg, with meat and veg...",173.500000,9.055833,13.471667,8.860000,0.246819,AgACAgQAAxkBAAIupWKwVM2raULS2emcMFPYHoZzM1rAAA...,1660259279,11941,11942,2022-06-20 11:06:55.317351+00:00,0.2,150.0
39,40,"Mixed nuts, with peanuts, lightly salted. Mixe...",579.625000,17.156250,29.296250,48.017500,0.264061,AgACAgIAAxkBAAIusWKwV_OSjhN0AhLclLwl3bVM_MrHAA...,493934807,11953,11954,2022-06-20 11:20:21.251245+00:00,0.2,NaN
40,41,"Pear, Asian, raw. Apple, baked. Apple, raw. Ap...",48.500000,0.496000,11.001000,0.780000,0.253839,AgACAgIAAxkBAAIus2KwWBm4jC1Fdxq0_OEVOB2RhkBdAA...,493934807,11955,11956,2022-06-20 11:20:59.150242+00:00,0.2,NaN
41,42,"Snack cake, not chocolate, with icing or filli...",400.285714,4.311429,69.580000,11.645714,0.257745,AgACAgIAAxkBAAIuzGKwYoV-d96TxNP4T4DLTsnh3v9iAA...,694230425,11980,11981,2022-06-20 12:05:27.987741+00:00,0.2,NaN
42,43,"Egg, Benedict. Black Russian. Seven-layer sala...",219.857143,6.774286,9.042857,12.887857,0.290701,AgACAgIAAxkBAAIu0WKwZQT42TZJBKTQjoy3euZlKMdTAA...,258759714,11985,11986,2022-06-20 12:16:06.284531+00:00,0.2,NaN
43,44,"Egg omelet or scrambled egg, with cheese, meat...",142.083333,10.520000,3.075833,9.807500,0.264577,AgACAgIAAxkBAAIu1WKwZc_Ug9M2T-zQHn-AnDd6nizgAA...,632472418,11989,11990,2022-06-20 12:19:29.557884+00:00,0.2,NaN
44,45,"Chicken leg, drumstick and thigh, grilled with...",184.272727,13.435455,7.930909,8.929091,0.254100,AgACAgIAAxkBAAIu52Kwc1RN3k52lBEXpdNYCReCUjn4AA...,118109341,12007,12008,2022-06-20 13:17:11.004164+00:00,0.2,NaN
45,46,"Chicken leg, drumstick and thigh, NS as to coo...",264.375000,24.388750,0.045000,18.202500,0.288193,AgACAgIAAxkBAAIu8WKwlWLlcHDsYn8G7PIbW3bNnXsBAA...,350611835,12017,12018,2022-06-20 15:42:28.530842+00:00,0.2,NaN
46,47,,17.000000,0.710000,3.700000,0.140000,0.274710,AgACAgIAAxkBAAIu82KwlY9FN8ixzkq1AAFYAAF_-9iwv0...,350611835,12019,12020,2022-06-20 15:43:13.180587+00:00,0.2,NaN
47,48,"Cheese, with wine. Chocolate, white, with alm...",332.071429,13.170000,20.107857,22.470000,0.229334,AgACAgIAAxkBAAIu9WKwlbL_Q0Ln4p3T89vJAy6PYMKAAA...,350611835,12021,12022,2022-06-20 15:43:48.414729+00:00,0.2,NaN

In [20]:
# engine.execute('drop table food.dishes')

In [21]:
#export
class User_properties (LocalBase):
    __tablename__ = 'user_properties'
    id                  = Column(BIGINT,  primary_key=True, autoincrement = True)
    user_id             = Column(BIGINT,   nullable=False)
    property            = Column(String,   nullable=False)
    value               = Column(String,   nullable=False)
    timestamp           = Column(DateTime(timezone=True), nullable=False)

In [22]:
pd.read_sql('select * from food.user_properties',engine)

   id     user_id     property          value                        timestamp
0   1    78882798  metric_unit          grams 2022-06-18 09:43:46.220414+00:00
1   2    78882798           tz  Europe/Lisbon 2022-06-18 09:44:02.049865+00:00
2   3    31301727  metric_unit          grams 2022-06-18 12:34:01.724039+00:00
3   4   694230425  metric_unit          grams 2022-06-18 21:38:30.748246+00:00
4   5  1660259279  metric_unit          grams 2022-06-20 11:07:28.568556+00:00
5   6   123633126           tz  Europe/Moscow 2022-06-20 11:23:25.924477+00:00
6   7   123633126           tz  Europe/Moscow 2022-06-20 11:25:07.018725+00:00

In [23]:
# engine.execute('truncate table food.user_properties')

In [24]:
pd.read_sql('select * from food.users',engine)

            id first_name   last_name          username language_code
0     78882798     Dmitry     Grankin    dmitry_grankin            en
1     63432403     Michel     Grankin          mgrankin            en
2     31301727      Maria   Shatalova          dangelom            ru
3    694230425    Eugenia    Grankina              None            ru
4    646033692                      None            ru
5   1218475308          L           R              None            ru
6   1660259279    Natalia           B    barbicanatalia            en
7    493934807     Polina  Galinskaya  PolinaGalinskaya            ru
8    123633126       Roma     Kulikov      roma_kulikov            ru
9    258759714     Ksenia   Kolpakova          ksukolpa            ru
10   632472418            LoguntsovaA            ru
11   118109341      Daria   Palatkina        beepboppee            ru
12   350611835      Maria  Bochenkova       BochenkovaM            en

In [25]:
# engine.execute('drop table food.dishes')

In [26]:
LocalBase.metadata.create_all(engine)

In [27]:
import pandas as pd

In [28]:
#export
class FoodsP (LocalBase):
    __tablename__ = 'foods_prompted' #inferenced text of altered food classes
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,           nullable=False)
    protein             = Column(Float,           nullable=False)
    carb                = Column(Float,           nullable=False)
    fat                 = Column(Float,           nullable=False)
    text                = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [29]:
#export
class FoodsPI (LocalBase):
    __tablename__ = 'foods_prompted_images'
    id                  = Column(BIGINT, primary_key=True,autoincrement = True)
    food_id             = Column(BIGINT,   nullable=False)
    country_code        = Column(String,          nullable=True)
    store_name          = Column(String,          nullable=True)
    product_name        = Column(String,          nullable=True)
    path                = Column(String,          nullable=True)
    accuracy            = Column(Float,          nullable=True)

    clip                = Column(ARRAY(REAL),          nullable=False)

In [30]:
#export
class Indexed (LocalBase):
    __tablename__ = 'indexed'
    id                   = Column(BIGINT,  primary_key=True)
    indexed              = Column(Boolean, nullable   =False)

In [31]:
class Logs (LocalBase):
    __tablename__ = 'bot_logs'
    table = f'{schema}.{__tablename__}'


    id                   = Column(Integer,  primary_key=True, autoincrement = True)
    level_no             = Column(String,   nullable=True)
    func                 = Column(String,   nullable=True)
    id_key               = Column(String,   nullable=True)
    id_value             = Column(Integer,   nullable=True)
    msg                  = Column(String,   nullable=False)

    timestamp            = Column(DateTime, nullable=False)

In [36]:
engine.execute('ALTER TABLE food.users ALTER COLUMN language_code DROP NOT NULL;')

In [32]:
pd.read_sql('select * from food.bot_logs order by id desc limit 10',engine)

,id,level_no,func,id_key,id_value,msg,timestamp
0,49,DEBUG,process_photo,user_id,694230425,process_photo started,2022-06-18 14:17:46.839632
1,48,DEBUG,process_photo,user_id,63432403,process_photo finished,2022-06-18 14:16:45.638475
2,47,DEBUG,process_photo,user_id,63432403,process_photo started,2022-06-18 14:16:43.482927
3,46,DEBUG,process_photo,user_id,694230425,process_photo started,2022-06-18 14:05:19.359477
4,45,DEBUG,start_command,user_id,694230425,start,2022-06-18 14:05:09.637376
5,44,DEBUG,process_photo,user_id,694230425,process_photo started,2022-06-18 14:04:51.613803
6,43,DEBUG,process_photo,user_id,694230425,process_photo started,2022-06-18 12:40:43.267819
7,42,DEBUG,weight_processing,user_id,31301727,weight_processing finished,2022-06-18 12:34:04.958071
8,41,DEBUG,weight_processing,user_id,31301727,weight_processing started,2022-06-18 12:34:04.475354
9,40,DEBUG,measurment,user_id,31301727,measurment,2022-06-18 12:34:01.730660

In [33]:
pd.read_sql('select * from food.users',engine)

         id first_name  last_name        username language_code
0  78882798     Dmitry    Grankin  dmitry_grankin            en
1  63432403     Michel    Grankin        mgrankin            en
2  31301727      Maria  Shatalova        dangelom            ru

In [30]:
# pd.read_sql('select * from food.bot_logs',engine)

In [31]:
# engine.execute('drop table food.bot_logs')

In [32]:
engine.execute(f'CREATE SCHEMA IF NOT EXISTS {schema};')

In [33]:
LocalBase.metadata.create_all(engine)

,id,level_no,func,id_key,id_value,msg,timestamp
0,1,DEBUG,remove_dish,user_id,78882798,remove_dish,2022-06-18 09:45:21.872152
1,2,DEBUG,process_photo,user_id,78882798,process_photo started,2022-06-18 09:45:47.913396
2,3,DEBUG,process_photo,user_id,78882798,process_photo finished,2022-06-18 09:45:49.467054
3,4,DEBUG,add_dish,user_id,78882798,add_dish,2022-06-18 09:45:52.561939
4,5,DEBUG,measurment,user_id,78882798,measurment,2022-06-18 09:45:52.576318
5,6,DEBUG,weight_processing,user_id,78882798,weight_processing started,2022-06-18 09:45:54.358028
6,7,DEBUG,weight_processing,user_id,78882798,weight_processing finished,2022-06-18 09:45:54.530066

In [34]:
!nbdev_build_lib

Converted 00_clipmodel.ipynb.
Converted 00_custom_pandas.ipynb.
Converted 00_paths.ipynb.
Converted 00_progress_check.ipynb.
Converted 00_psql.ipynb.
Converted 00_qdrant.ipynb.
Converted 00_tools.ipynb.
Converted 01_search.ipynb.
Converted inference.ipynb.
Converted stats.ipynb.