In [19]:
%load_ext autoreload
%autoreload 2

In [20]:
from food.qdrant import *

In [14]:
from food.paths import *
import pandas as pd
from food.psql import *

In [10]:
ff = (data_path/'FNDDS')

In [11]:
ff.ls()

[PosixPath('/home/dima/data/FNDDS/Download & API Field Descriptions Oct 2020.pdf'),
 PosixPath('/home/dima/data/FNDDS/survey_fndds_food.csv'),
 PosixPath('/home/dima/data/FNDDS/food_update_log_entry.csv'),
 PosixPath('/home/dima/data/FNDDS/all_downloaded_table_record_counts.csv'),
 PosixPath('/home/dima/data/FNDDS/food_portion.csv'),
 PosixPath('/home/dima/data/FNDDS/food_attribute.csv'),
 PosixPath('/home/dima/data/FNDDS/fndds_ingredient_nutrient_value.csv'),
 PosixPath('/home/dima/data/FNDDS/input_food.csv'),
 PosixPath('/home/dima/data/FNDDS/food.csv'),
 PosixPath('/home/dima/data/FNDDS/FoodData_Central_survey_food_csv_2020-10-30.zip'),
 PosixPath('/home/dima/data/FNDDS/food_nutrient.csv')]

In [12]:
pd.read_csv(ff/'food.csv')

,fdc_id,data_type,description,food_category_id,publication_date
0,1097510,survey_fndds_food,"Milk, human",NaN,2020-10-30
1,1097511,survey_fndds_food,"Milk, NFS",NaN,2020-10-30
2,1097512,survey_fndds_food,"Milk, whole",NaN,2020-10-30
3,1097513,survey_fndds_food,"Milk, low sodium, whole",NaN,2020-10-30
4,1097514,survey_fndds_food,"Milk, calcium fortified, whole",NaN,2020-10-30
...,...,...,...,...,...
7078,1104588,survey_fndds_food,Tomatoes as ingredient in omelet,NaN,2020-10-30
7079,1104589,survey_fndds_food,Other vegetables as ingredient in omelet,NaN,2020-10-30
7080,1104590,survey_fndds_food,Vegetables as ingredient in curry,NaN,2020-10-30
7081,1104591,survey_fndds_food,Sauce as ingredient in hamburgers,NaN,2020-10-30
7082,1104592,survey_fndds_food,Industrial oil as ingredient in food,NaN,2020-10-30

In [16]:
df = pd.read_sql('foods',engine)

In [17]:
df

,id,description,category,energy,protein,carb,fat,clip
0,1097524,"Milk, lactose free, reduced fat (2%)","Milk, reduced fat",50.0,3.35,4.91,1.90,"[0.015040726, 0.011575523, -0.011966778, 0.040..."
1,1097525,"Milk, lactose free, whole","Milk, whole",60.0,3.28,4.67,3.20,"[0.014815284, -0.004186348, -0.007967781, 0.02..."
2,1097603,"Yogurt, whole milk, baby food",Baby food: yogurt,61.0,3.47,4.66,3.25,"[0.0027644234, 0.0029128625, 0.022239361, 0.03..."
3,1097700,"Infant formula, NFS","Formula, ready-to-feed",66.0,1.38,7.12,3.56,"[0.0023559248, 0.017568443, 0.033846956, 0.020..."
4,1099619,Cabbage with ham hocks,Meat mixed dishes,71.0,7.97,4.50,2.49,"[0.03035846, 0.0039041196, -0.014388906, 0.015..."
...,...,...,...,...,...,...,...,...
7078,1104568,Cheese as ingredient in sandwiches,Not included in a food category,360.0,20.76,4.32,28.93,"[0.0047567077, 0.03878048, 0.043640774, -0.006..."
7079,1104569,Breakfast meat as ingredient in omelet,Not included in a food category,253.0,20.81,1.61,17.87,"[0.0051773326, 0.019715708, 0.0039956337, -0.0..."
7080,1104570,"Fish fillet, fried as ingredient in sandwiches",Not included in a food category,200.0,18.11,8.18,10.03,"[0.009361401, 0.023042753, 0.011918317, 0.0034..."
7081,1104571,Breading or batter as ingredient in food,Not included in a food category,201.0,6.32,39.64,1.39,"[-0.039442144, 0.017510977, 0.04945537, 0.0059..."
7082,1104572,Wheat bread as ingredient in sandwiches,Not included in a food category,264.0,11.40,45.42,3.98,"[0.010234108, 0.04141648, 0.019048885, -0.0130..."