In [4]:
import pandas as pd
from food.psql import *
from food.tools import *

In [6]:
df = pd.read_sql('select * from dishes',engine).set_index('timestamp')
total_unique_users = len(df.drop_duplicates('user_id')['food_id']);total_unique_users

39

In [7]:
df = df.reset_index()
df['min_timestamp'] = df['timestamp'].dt.date
df['max_timestamp'] = df['timestamp'].dt.date
days_used = df.groupby('user_id').agg({'min_timestamp':'min','max_timestamp':'max'})
days_used['days_used'] = (days_used['max_timestamp'] - days_used['min_timestamp']).dt.days
days_used.sort_values(['days_used','max_timestamp'],ascending=False).head(10)

           min_timestamp max_timestamp  days_used
user_id
78882798      2022-04-05    2022-04-12          7
31301727      2022-04-06    2022-04-12          6
333133495     2022-04-05    2022-04-07          2
143791        2022-04-06    2022-04-07          1
347300081     2022-04-06    2022-04-07          1
1226395957    2022-04-12    2022-04-12          0
157684716     2022-04-10    2022-04-10          0
112833890     2022-04-09    2022-04-09          0
560819259     2022-04-09    2022-04-09          0
1389755434    2022-04-09    2022-04-09          0

In [8]:
days_used['min_timestamp'] = pd.to_datetime(days_used['min_timestamp'])

In [9]:
new_users = days_used.reset_index().set_index('min_timestamp').resample('D').count().sort_index();new_users

               user_id  max_timestamp  days_used
min_timestamp
2022-04-05          12             12         12
2022-04-06          13             13         13
2022-04-07           8              8          8
2022-04-08           0              0          0
2022-04-09           4              4          4
2022-04-10           1              1          1
2022-04-11           0              0          0
2022-04-12           1              1          1

In [10]:
df = pd.read_sql('select * from dishes',engine)

In [13]:
images = df[df['user_id']==31301727]['image_url'].apply(get_image_from_url).tolist()