In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
from food.tools import *
from food.paths import *
from food.psql import *

import pandas as pd
import numpy as np

# !nbdev_build_lib
from pathlib import Path

In [5]:
data_path = Path('food_dataset')

In [24]:
df = pd.read_csv(data_path/'food.csv')

In [31]:
foundation_food = df[df['data_type']=='foundation_food'].drop_duplicates('description')[['fdc_id','description']].set_index('fdc_id')

In [32]:
foundation_food

                                               description
fdc_id
321358                                  Hummus, commercial
321359   Milk, reduced fat, fluid, 2% milkfat, with add...
321360                                Tomatoes, grape, raw
321505                                Salt, table, iodized
321611   Beans, snap, green, canned, regular pack, drai...
...                                                    ...
2263888                                   Raspberries, raw
2263889                                   Blueberries, raw
2263890                         Grapes, red, seedless, raw
2263891                       Grapes, green, seedless, raw
2263892      Applesauce, unsweetened, with added vitamin C

[189 rows x 1 columns]

In [33]:
pd.read_csv(data_path/'food_nutrient.csv')

/tmp/ipykernel_584196/4146138371.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(data_path/'food_nutrient.csv')

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,13694818,1106281,203,10.710,NaN,70.0,NaN,NaN,NaN,NaN,NaN
1,13694819,1106281,204,25.000,NaN,70.0,NaN,NaN,NaN,NaN,NaN
2,13694826,1106281,307,161.000,NaN,70.0,NaN,NaN,NaN,NaN,NaN
3,13694824,1106281,301,71.000,NaN,75.0,NaN,NaN,NaN,NaN,NaN
4,13694829,1106281,601,0.000,NaN,75.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5917365,27797216,2263892,1014,0.000,8.0,1.0,0.00,0.00,0.000,NaN,2021.0
5917366,27797202,2263892,1039,425.900,8.0,1.0,281.00,644.50,348.000,NaN,2021.0
5917367,27797205,2263892,1044,5.413,8.0,1.0,0.00,43.30,0.000,NaN,2021.0
5917368,27797213,2263892,1011,2.451,8.0,1.0,2.03,2.93,2.413,NaN,2021.0
5917369,27797200,2263892,1162,43.690,8.0,1.0,13.40,96.85,26.980,NaN,2021.0

In [19]:
path_info(data_path)

,path,name,time,size
8,food_dataset/all_downloaded_table_record_count...,all_downloaded_table_record_counts.csv,2022-06-30 11:12:04.667879581,0.000849
3,food_dataset/agricultural_samples.csv,agricultural_samples.csv,2022-06-30 11:12:04.667879581,0.038059
7,food_dataset/acquisition_samples.csv,acquisition_samples.csv,2022-06-30 11:12:04.667879581,0.122607
0,food_dataset/branded_food.csv,branded_food.csv,2022-06-30 11:12:09.580343723,742.533765
14,food_dataset/Download & API Field Descriptions...,Download & API Field Descriptions October 2022...,2022-06-30 11:12:09.584343910,0.148996
35,food_dataset/fndds_derivation.csv,fndds_derivation.csv,2022-06-30 11:12:09.584343910,0.004838
32,food_dataset/fndds_ingredient_nutrient_value.csv,fndds_ingredient_nutrient_value.csv,2022-06-30 11:12:09.668351889,17.344978
28,food_dataset/food.csv,food.csv,2022-06-30 11:12:10.556435823,139.526208
22,food_dataset/food_category.csv,food_category.csv,2022-06-30 11:12:11.108487844,0.000997
2,food_dataset/food_calorie_conversion_factor.csv,food_calorie_conversion_factor.csv,2022-06-30 11:12:11.108487844,0.138639
10,food_dataset/food_attribute_type.csv,food_attribute_type.csv,2022-06-30 11:12:11.108487844,0.000331
11,food_dataset/food_component.csv,food_component.csv,2022-06-30 11:12:11.108487844,0.176962
5,food_dataset/food_attribute.csv,food_attribute.csv,2022-06-30 11:12:11.108487844,107.629803
6,food_dataset/food_nutrient_derivation.csv,food_nutrient_derivation.csv,2022-06-30 11:12:13.100676060,0.006853
9,food_dataset/food_nutrient_source.csv,food_nutrient_source.csv,2022-06-30 11:12:13.100676060,0.000602
18,food_dataset/food_nutrient.csv,food_nutrient.csv,2022-06-30 11:12:13.100676060,336.823988
34,food_dataset/food_nutrient_conversion_factor.csv,food_nutrient_conversion_factor.csv,2022-06-30 11:12:13.100676060,0.189788
27,food_dataset/food_portion.csv,food_portion.csv,2022-06-30 11:12:13.128678799,4.253596
12,food_dataset/food_protein_conversion_factor.csv,food_protein_conversion_factor.csv,2022-06-30 11:12:13.128678799,0.093172
13,food_dataset/foundation_food.csv,foundation_food.csv,2022-06-30 11:12:13.732735872,0.008667
15,food_dataset/food_update_log_entry.csv,food_update_log_entry.csv,2022-06-30 11:12:13.732735872,81.954369
1,food_dataset/lab_method.csv,lab_method.csv,2022-06-30 11:12:13.748737335,0.011712
29,food_dataset/input_food.csv,input_food.csv,2022-06-30 11:12:13.748737335,2.812075
23,food_dataset/lab_method_nutrient.csv,lab_method_nutrient.csv,2022-06-30 11:12:13.748737335,0.021140
24,food_dataset/lab_method_code.csv,lab_method_code.csv,2022-06-30 11:12:13.748737335,0.007928
33,food_dataset/sample_food.csv,sample_food.csv,2022-06-30 11:12:13.756737947,0.022748
20,food_dataset/measure_unit.csv,measure_unit.csv,2022-06-30 11:12:13.756737947,0.001955
25,food_dataset/nutrient_incoming_name.csv,nutrient_incoming_name.csv,2022-06-30 11:12:13.756737947,0.024594
19,food_dataset/nutrient.csv,nutrient.csv,2022-06-30 11:12:13.756737947,0.021480
4,food_dataset/sr_legacy_food.csv,sr_legacy_food.csv,2022-06-30 11:12:13.756737947,0.130404
26,food_dataset/market_acquisition.csv,market_acquisition.csv,2022-06-30 11:12:13.756737947,0.853325
17,food_dataset/retention_factor.csv,retention_factor.csv,2022-06-30 11:12:13.756737947,0.013304
21,food_dataset/sub_sample_food.csv,sub_sample_food.csv,2022-06-30 11:12:13.760738373,0.657291
30,food_dataset/sub_sample_result.csv,sub_sample_result.csv,2022-06-30 11:12:13.784740686,3.665496
31,food_dataset/wweia_food_category.csv,wweia_food_category.csv,2022-06-30 11:12:13.788741112,0.005050
16,food_dataset/survey_fndds_food.csv,survey_fndds_food.csv,2022-06-30 11:12:13.788741112,0.382549

In [6]:
fundation_path = data_path/'FoundationFoods'
fndds_path = data_path/'FNDDS'
support_path = data_path/'support_data'
branded_path = data_path/'branded'
full_path = data_path/'full'

In [16]:
pd.read_csv(data_path/'foundation_food.csv')

      fdc_id  NDB_number                             footnote
0     321358       16158                                  NaN
1     321360      100147                                  NaN
2     321611       11056                                  NaN
3     323121        7022                                  NaN
4     323294       12563   Other phytosterols = 34.67 mg/100g
..       ...         ...                                  ...
179  2263888        9302                                  NaN
180  2263889        9050                                  NaN
181  2263890      100279                                  NaN
182  2263891      100280                                  NaN
183  2263892        9401                                  NaN

[184 rows x 3 columns]

In [10]:
nutrients = pd.read_csv(data_path/'nutrient.csv').sort_values('id');nutrients

,id,name,unit_name,nutrient_nbr,rank
2,1001,Solids,G,201.0,200.0
3,1002,Nitrogen,G,202.0,500.0
4,1003,Protein,G,203.0,600.0
5,1004,Total lipid (fat),G,204.0,800.0
6,1005,"Carbohydrate, by difference",G,205.0,1110.0
...,...,...,...,...,...
469,2061,"Ergosta-7,22-dienol",MG,NaN,16211.0
470,2062,"Ergosta-5,7-dienol",MG,NaN,16211.0
471,2063,Verbascose,G,NaN,2450.0
472,2064,Oligiosaccharides,MG,NaN,2250.0
473,2065,Low Molecular Weight Dietary Fiber (LMWDF),G,293.4,1306.0

In [11]:
measures = pd.read_csv(data_path/'measure_unit.csv').sort_values('id');measures

       id          name
0    1000           cup
1    1001    tablespoon
2    1002      teaspoon
3    1003         liter
4    1004    milliliter
..    ...           ...
117  1117         bunch
118  1118   Tablespoons
119  1119        Banana
120  1120         Onion
121  9999  undetermined

[122 rows x 2 columns]

In [12]:
fndds = pd.read_csv(data_path/'food_update_log_entry.csv').sort_values('id')
fndds_nutrients = pd.read_csv(data_path/'food_nutrient.csv').sort_values('id')
fndd_portions = pd.read_csv(data_path/'food_portion.csv').sort_values('id')
attributes = pd.read_csv(data_path/'food_attribute.csv')

/tmp/ipykernel_584196/3491478038.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  fndds_nutrients = pd.read_csv(data_path/'food_nutrient.csv').sort_values('id')
/tmp/ipykernel_584196/3491478038.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  attributes = pd.read_csv(data_path/'food_attribute.csv')

In [13]:
fndds_nutrients = (
    fndds[['id','description']].set_index('id').join(fndds_nutrients[['fdc_id','nutrient_id','amount']].set_index('fdc_id'))
    .reset_index()
    .set_index('nutrient_id')
    .join(nutrients.set_index('id'))
    .rename(columns = {'index':'id'})

)
fndds_nutrients = fndds_nutrients.pivot(index = ['id','description'],columns = ['name'],values = ['amount'])
fndds_nutrients.columns = fndds_nutrients.columns.get_level_values(1)
fndds_nutrients.columns = fndds_nutrients.columns.str.lower()


fndds_nutrients = fndds_nutrients[['energy',
                                    'protein',
                                    'carbohydrate, by difference',
                                    'total lipid (fat)']]
fndds_nutrients = fndds_nutrients.rename(columns = {'carbohydrate, by difference':'carb','total lipid (fat)':'fat'}).reset_index()

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
attributes = attributes[attributes['name'] == 'WWEIA Category description'][['fdc_id','value']].rename(columns = {'fdc_id':'id','value':'category'})

In [9]:
fndds_nutrients = fndds_nutrients.merge(attributes,on='id')

In [10]:
foods = pd.read_sql('select id, description from foods',engine)

In [11]:
foods

           id                                     description
0     1097524            Milk, lactose free, reduced fat (2%)
1     1097525                       Milk, lactose free, whole
2     1097603                   Yogurt, whole milk, baby food
3     1097700                             Infant formula, NFS
4     1099619                          Cabbage with ham hocks
...       ...                                             ...
7078  1104568              Cheese as ingredient in sandwiches
7079  1104569          Breakfast meat as ingredient in omelet
7080  1104570  Fish fillet, fried as ingredient in sandwiches
7081  1104571        Breading or batter as ingredient in food
7082  1104572         Wheat bread as ingredient in sandwiches

[7083 rows x 2 columns]

In [17]:
fndd_portions[['fdc_id','portion_description','gram_weight']].rename(columns = {'fdc_id':"food_id"}).to_sql('portions',engine,if_exists='append',index=False)

In [15]:
fndd_portions[fndd_portions['fdc_id']==1101970]

,id,fdc_id,seq_num,amount,measure_unit_id,portion_description,modifier,gram_weight,data_points,footnote,min_year_acquired
21515,246068,1101970,11,NaN,9999,1 surface inch,52000,6.2,NaN,NaN,NaN
21514,253926,1101970,1,NaN,9999,"1 piece, NFS",63542,119.0,NaN,NaN,NaN
21513,256883,1101970,6,NaN,9999,"1 personal size pizza (5-7"" diameter)",64363,175.0,NaN,NaN,NaN
21510,256955,1101970,7,NaN,9999,"1 small pizza (8-10"" diameter)",64364,480.0,NaN,NaN,NaN
21509,257015,1101970,8,NaN,9999,"1 medium pizza (11-12"" diameter)",64365,691.0,NaN,NaN,NaN
21507,257078,1101970,9,NaN,9999,"1 large pizza (13-15"" diameter)",64366,954.0,NaN,NaN,NaN
21506,257141,1101970,10,NaN,9999,"1 extra-large pizza (16-18"" diameter)",64367,1278.0,NaN,NaN,NaN
21512,257201,1101970,2,NaN,9999,"1 piece, small pizza",64368,80.0,NaN,NaN,NaN
21511,257261,1101970,3,NaN,9999,"1 piece, medium pizza",64369,86.0,NaN,NaN,NaN
21508,257324,1101970,4,NaN,9999,"1 piece, large pizza",64370,119.0,NaN,NaN,NaN
21505,257693,1101970,5,NaN,9999,"1 piece, extra-large pizza",64417,128.0,NaN,NaN,NaN
21504,264731,1101970,12,NaN,9999,Quantity not specified,90000,238.0,NaN,NaN,NaN

In [22]:
portions = fndds_nutrients.set_index('id').join(fndd_portions[['fdc_id','portion_description','gram_weight']].set_index('fdc_id'))

In [25]:
portions['portion_description'].drop_duplicates()

1097510                                     1 cup
1097510                                   1 fl oz
1097510                    Quantity not specified
1097511    Guideline amount per fl oz of beverage
1097511    Guideline amount per cup of hot cereal
                            ...
1104546                1 can or bottle (24 fl oz)
1104546                1 can or bottle (32 fl oz)
1104559                       1 bottle (32 fl oz)
1104566                           1 bottle (4 oz)
1104568                                       NaN
Name: portion_description, Length: 1855, dtype: object

In [31]:
portions[portions['description'].str.contains('Apple, raw')]

,description,energy,protein,carb,fat,category,portion_description,gram_weight
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 cup,125.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 extra large,295.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 large,242.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 medium,200.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 slice,25.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 small,165.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 single serving package,34.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,Quantity not specified,200.0

In [39]:
portions['portion_description'].str.split(' ').str[:2]

1097510           [1, cup]
1097510            [1, fl]
1097510    [Quantity, not]
1097511           [1, cup]
1097511            [1, fl]
                ...
1104588                NaN
1104589                NaN
1104590                NaN
1104591                NaN
1104592                NaN
Name: portion_description, Length: 31791, dtype: object

In [36]:
portions

,description,energy,protein,carb,fat,category,portion_description,gram_weight
1097510,"Milk, human",70.0,1.03,6.89,4.38,Human milk,1 cup,246.0
1097510,"Milk, human",70.0,1.03,6.89,4.38,Human milk,1 fl oz,30.8
1097510,"Milk, human",70.0,1.03,6.89,4.38,Human milk,Quantity not specified,0.0
1097511,"Milk, NFS",51.0,3.34,4.87,1.99,"Milk, reduced fat",1 cup,244.0
1097511,"Milk, NFS",51.0,3.34,4.87,1.99,"Milk, reduced fat",1 fl oz,30.5
...,...,...,...,...,...,...,...,...
1104588,Tomatoes as ingredient in omelet,25.0,1.11,5.48,0.23,Not included in a food category,NaN,NaN
1104589,Other vegetables as ingredient in omelet,29.0,3.46,4.81,0.38,Not included in a food category,NaN,NaN
1104590,Vegetables as ingredient in curry,52.0,1.81,11.60,0.19,Not included in a food category,NaN,NaN
1104591,Sauce as ingredient in hamburgers,271.0,1.34,17.14,22.85,Not included in a food category,NaN,NaN
1104592,Industrial oil as ingredient in food,892.0,0.00,0.00,100.00,Not included in a food category,NaN,NaN

branded

In [104]:
food = pd.read_csv(branded_path/'food.csv')

In [105]:
branded_food = pd.read_csv(branded_path/'branded_food.csv')

/home/dima/anaconda3/envs/food/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3361: DtypeWarning: Columns (2,3,4,6,9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [112]:
food = food[['description','fdc_id']].set_index('fdc_id')

In [110]:
branded_food = branded_food[['brand_name','ingredients','fdc_id','serving_size','serving_size_unit','package_weight']].set_index('fdc_id')

In [114]:
branded_food = food.join(branded_food)

In [115]:
branded_food

,description,brand_name,ingredients,serving_size,serving_size_unit,package_weight
fdc_id,,,,,,
1105904,WESSON Vegetable Oil 1 GAL,NaN,Vegetable Oil,15.0,ml,NaN
1105905,SWANSON BROTH BEEF,NaN,"INGREDIENTS: BEEF STOCK, CONTAINS LESS THAN 2%...",240.0,ml,NaN
1105906,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN,"INGREDIENTS: CLAM STOCK, POTATOES, CLAMS, CREA...",440.0,g,NaN
1105907,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN,"INGREDIENTS: WATER, CREAM, BROCCOLI, CELERY, V...",440.0,g,NaN
1105908,SWANSON BROTH CHICKEN,NaN,"INGREDIENTS: CHICKEN STOCK, CONTAINS LESS THAN...",240.0,ml,NaN
...,...,...,...,...,...,...
2183200,Manuka Hunters Bush Honey 250g,Manuka Hunters,Bush Honey,10.0,g,250g
2183201,Manuka Hunters Bush Honey 500g,Manuka Hunters,Bush Honey,10.0,g,500g
2183202,Manuka Hunters Bush Honey 1kg,Manuka Hunters,Bush Honey,10.0,g,1kg
2183203,Rocket Fuel Sauce 300g,Rocket Fuel,"Sugar, Sultanas , Water, Vinegar, Spices, Drie...",15.0,g,300g
2183204,The Kiwi Artisan Manuka Smoked Olives 150g,The Kiwi Artisan,"Extra Virgin Olive Oil, Green Olives, Kalamata...",50.0,g,150g

In [117]:
nutrients = pd.read_csv(branded_path/'food_nutrient.csv')

In [118]:
nutrients

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,13706913,1105904,203,0.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN
1,13706914,1105904,204,93.33,NaN,71.0,NaN,NaN,NaN,NaN,NaN
2,13706915,1105904,205,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
3,13706924,1105904,324,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
4,13706918,1105904,291,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19807009,26849607,2183204,291,3.20,NaN,71.0,NaN,NaN,NaN,NaN,NaN
19807010,26849609,2183204,606,3.80,NaN,71.0,NaN,NaN,NaN,NaN,NaN
19807011,26849602,2183204,203,1.20,NaN,71.0,NaN,NaN,NaN,NaN,NaN
19807012,26849606,2183204,269,0.20,NaN,71.0,NaN,NaN,NaN,NaN,NaN
19807013,26849603,2183204,204,31.60,NaN,71.0,NaN,NaN,NaN,NaN,NaN