In [1]:
#default_exp psql

In [2]:
import sys
sys.path.insert(0,'..')

In [3]:
#export
from sqlalchemy import create_engine
from sqlalchemy import DateTime
from sqlalchemy import Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, String, Text, Float, Boolean, ForeignKey, and_, or_, MetaData
from sqlalchemy.orm.exc import NoResultFound, MultipleResultsFound
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy import update
from sqlalchemy import desc
import pandas as pd
import datetime
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql.expression import select, exists
from IPython.display import clear_output
from sqlalchemy import Column, Integer, String ,DateTime,UniqueConstraint,Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.dialects.postgresql import ARRAY
from sqlalchemy.sql.sqltypes import *
from sqlalchemy import *
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Executable, ClauseElement #_literal_as_text
from sqlalchemy.ext import compiler
from sqlalchemy.schema import DDLElement
from sqlalchemy.inspection import inspect
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import VARCHAR

from sqlalchemy.dialects.postgresql import JSON

from sqlalchemy.dialects.postgresql import REAL

from sqlalchemy import cast

from food.paths import branch
print(branch)

from mytools.tools import *
from mytools.psql import *

dev

In [4]:
#export

port = 5434 if branch == 'prod' else 5431


engine = create_engine(f'postgresql+psycopg2://postgres:KJnbuiwuef89k@localhost/postgres?port={port}',pool_size=64) #dev engine
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [5]:
#export
schema = 'food'
LocalBase = declarative_base(metadata=MetaData(schema=schema))

In [6]:
engine.table_names(schema)

/tmp/ipykernel_87768/859941513.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names(schema)

['foods',
 'foods_clusters',
 'foundation_foods',
 'users',
 'user_properties',
 'foods_prompted',
 'foods_prompted_images',
 'indexed',
 'dishes',
 'bot_logs']

In [7]:
#export
class Foods (LocalBase):
    __tablename__ = 'foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,          nullable=False)
    protein             = Column(Float,          nullable=False)
    carb                = Column(Float,          nullable=False)
    fat                 = Column(Float,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [8]:
#read_sql('foods',schema,engine)

In [9]:
#export
class CFoods (LocalBase):
    __tablename__ = 'foods_clusters' 
    id                  = Column(BIGINT,  primary_key=True)
    cluster             = Column(Integer, nullable=True)

In [10]:
#export
class FFoods (LocalBase):
    __tablename__ = 'foundation_foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [11]:
#export
class Users (LocalBase):
    __tablename__ = 'users' 
    id                  = Column(BIGINT,     primary_key=True)
    first_name          = Column(String,     nullable=True)
    last_name           = Column(String,     nullable=True)
    username            = Column(String,     nullable=True)
    language_code       = Column(String,     nullable=True)

In [13]:
# pd.read_sql('select * from food.users',engine)

In [14]:
#export
class Dishes (LocalBase):
    __tablename__ = 'dishes'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    food_id                   = Column(BIGINT,    nullable=False)
    
    # description          = Column(String,   nullable=False)
    # energy               = Column(Float,    nullable=False)
    # protein              = Column(Float,    nullable=False)
    # carb                 = Column(Float,    nullable=False)
    # fat                  = Column(Float,    nullable=False)
    score                = Column(Float,    nullable=False)

    photo_id            = Column(String,   nullable=False)
    user_id             = Column(BIGINT,   nullable=False)
    photo_message_id    = Column(BIGINT,   nullable=False)
    message_id          = Column(BIGINT,   nullable=False)

    timestamp           = Column(DateTime(timezone=True), nullable=False)
    ml_version          = Column(Float,    nullable=False)

    area                = Column(Integer,  nullable=False)
    
    added               = Column(Boolean, nullable   =True)

In [18]:
#export
class User_properties (LocalBase):
    __tablename__ = 'user_properties'
    id                  = Column(BIGINT,  primary_key=True, autoincrement = True)
    user_id             = Column(BIGINT,   nullable=False)
    property            = Column(String,   nullable=False)
    value               = Column(String,   nullable=False)
    timestamp           = Column(DateTime(timezone=True), nullable=False)

In [19]:
#export
class FoodsP (LocalBase):
    __tablename__ = 'foods_prompted' #inferenced text of altered food classes
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,           nullable=False)
    protein             = Column(Float,           nullable=False)
    carb                = Column(Float,           nullable=False)
    fat                 = Column(Float,           nullable=False)
    text                = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [20]:
#export
class FoodsPI (LocalBase):
    __tablename__ = 'foods_prompted_images'
    id                  = Column(BIGINT, primary_key=True,autoincrement = True)
    food_id             = Column(BIGINT,   nullable=False)
    country_code        = Column(String,          nullable=True)
    store_name          = Column(String,          nullable=True)
    product_name        = Column(String,          nullable=True)
    path                = Column(String,          nullable=True)
    accuracy            = Column(Float,          nullable=True)

    clip                = Column(ARRAY(REAL),          nullable=False)

In [21]:
# engine.execute('alter table food.foods_prompted_images rename to foods_prompted_images')

In [22]:
#export
class Indexed (LocalBase):
    __tablename__ = 'indexed'
    id                   = Column(BIGINT,  primary_key=True)
    indexed              = Column(Boolean, nullable   =False)

In [28]:
class Logs (LocalBase):
    __tablename__ = 'bot_logs'
    table = f'{schema}.{__tablename__}'


    id                   = Column(Integer,  primary_key=True, autoincrement = True)
    level_no             = Column(String,   nullable=True)
    func                 = Column(String,   nullable=True)
    id_key               = Column(String,   nullable=True)
    id_value             = Column(Integer,   nullable=True)
    msg                  = Column(String,   nullable=False)

    timestamp            = Column(DateTime, nullable=False)

/tmp/ipykernel_2621644/430939245.py:1: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Logs, and will be replaced in the string-lookup table.
  class Logs (LocalBase):

InvalidRequestError: Table 'food.bot_logs' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [38]:
pd.read_sql('select * from food.bot_logs',engine)

,id,level_no,func,id_key,id_value,msg,timestamp
0,1,DEBUG,None,None,NaN,starting bot,2022-08-04 19:46:13.482806
1,2,DEBUG,start_command,user_id,78882798.0,start_command,2022-08-04 19:48:14.812630
2,3,DEBUG,add_sender,user_id,78882798.0,add_sender,2022-08-04 19:48:14.822010
3,4,DEBUG,process_photo,user_id,78882798.0,process_photo started,2022-08-04 19:48:30.228080
4,5,DEBUG,process_photo,user_id,78882798.0,process_photo finished,2022-08-04 19:48:37.299799
5,6,DEBUG,add_dish,user_id,78882798.0,add_dish,2022-08-04 19:48:43.661995
6,7,DEBUG,remove_dish,user_id,78882798.0,remove_dish,2022-08-04 19:48:48.053556
7,8,DEBUG,process_photo,user_id,78882798.0,process_photo started,2022-08-04 19:49:53.154052
8,9,DEBUG,process_photo,user_id,78882798.0,process_photo finished,2022-08-04 19:49:58.884573
9,10,DEBUG,process_photo,user_id,78882798.0,process_photo started,2022-08-04 19:50:47.036935
10,11,DEBUG,process_photo,user_id,78882798.0,process_photo finished,2022-08-04 19:50:55.261200
11,12,DEBUG,add_dish,user_id,78882798.0,add_dish,2022-08-04 19:51:04.216367
12,13,DEBUG,process_photo,user_id,78882798.0,process_photo started,2022-08-04 19:52:56.370262
13,14,DEBUG,process_photo,user_id,78882798.0,process_photo finished,2022-08-04 19:53:03.519240
14,15,DEBUG,add_dish,user_id,78882798.0,add_dish,2022-08-04 19:53:31.955249

In [25]:
# engine.execute('drop table food.bot_logs')

In [26]:
engine.execute(f'CREATE SCHEMA IF NOT EXISTS {schema};')

In [27]:
LocalBase.metadata.create_all(engine)

In [34]:
!conda activate f4;nbdev_build_lib

CommandNotFoundError: Your shell has not been properly configured to use 'conda activate'.
To initialize your shell, run

    $ conda init <SHELL_NAME>

Currently supported shells are:
  - bash
  - fish
  - tcsh
  - xonsh
  - zsh
  - powershell

See 'conda init --help' for more information and options.

IMPORTANT: You may need to close and restart your shell after running 'conda init'.


/bin/bash: nbdev_build_lib: command not found

In [ ]:
# docker create container postgis
#docker pull postgres
#sudo docker run --name psql_food_prod -e POSTGRES_PASSWORD=KJnbuiwuef89k -d -p 5434:5432 postgres
#sudo docker run --name psql_food_dev  -e POSTGRES_PASSWORD=KJnbuiwuef89k -d -p 5433:5432 postgres

#dump and restore

# pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5434 -n food > bd.sql
#cat bd.sql | docker exec -i psql_food_prod psql -U postgres | >> log.log

In [ ]:
# pg_dump -t table_to_copy source_db | psql target_db

In [ ]:
## copy table from one database to an other
#pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5432 -t foods_prompted_images | docker exec -i psql_food_prod_1806 psql -U postgres