In [2]:
#default_exp psql

In [3]:
import sys
sys.path.insert(0,'..')

In [4]:
#export
from sqlalchemy import create_engine
from sqlalchemy import DateTime
from sqlalchemy import Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, String, Text, Float, Boolean, ForeignKey, and_, or_, MetaData
from sqlalchemy.orm.exc import NoResultFound, MultipleResultsFound
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy import update
from sqlalchemy import desc
import pandas as pd
import datetime
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql.expression import select, exists
from IPython.display import clear_output
from sqlalchemy import Column, Integer, String ,DateTime,UniqueConstraint,Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.dialects.postgresql import ARRAY
from sqlalchemy.sql.sqltypes import *
from sqlalchemy import *
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Executable, ClauseElement #_literal_as_text
from sqlalchemy.ext import compiler
from sqlalchemy.schema import DDLElement
from sqlalchemy.inspection import inspect
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import VARCHAR

from sqlalchemy.dialects.postgresql import JSON

from sqlalchemy.dialects.postgresql import REAL

from sqlalchemy import cast

from food.paths import branch
print(branch)

from mytools.tools import *
from mytools.psql import *

dev

In [5]:
#export

port = 5434# if branch == 'prod' else 5431


engine = create_engine(f'postgresql+psycopg2://postgres:KJnbuiwuef89k@localhost/postgres?port={port}',pool_size=64) #dev engine
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [6]:
#export
schema = 'food'
LocalBase = declarative_base(metadata=MetaData(schema=schema))

In [7]:
engine.table_names(schema)

/tmp/ipykernel_3604069/859941513.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names(schema)

['foods',
 'users',
 'dishes',
 'user_properties',
 'foods_prompted',
 'foods_prompted_images',
 'indexed',
 'bot_logs',
 'foods_clusters',
 'foundation_foods']

In [8]:
#export
class Foods (LocalBase):
    __tablename__ = 'foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,          nullable=False)
    protein             = Column(Float,          nullable=False)
    carb                = Column(Float,          nullable=False)
    fat                 = Column(Float,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [9]:
read_sql('foods',schema,engine)

,id,description,category,energy,protein,carb,fat,clip
0,1097524,"Milk, lactose free, reduced fat (2%)","Milk, reduced fat",50.0,3.35,4.91,1.90,"[0.015040726, 0.011575523, -0.011966778, 0.040..."
1,1097525,"Milk, lactose free, whole","Milk, whole",60.0,3.28,4.67,3.20,"[0.014815284, -0.004186348, -0.007967781, 0.02..."
2,1097603,"Yogurt, whole milk, baby food",Baby food: yogurt,61.0,3.47,4.66,3.25,"[0.0027644234, 0.0029128625, 0.022239361, 0.03..."
3,1097700,"Infant formula, NFS","Formula, ready-to-feed",66.0,1.38,7.12,3.56,"[0.0023559248, 0.017568443, 0.033846956, 0.020..."
4,1099619,Cabbage with ham hocks,Meat mixed dishes,71.0,7.97,4.50,2.49,"[0.03035846, 0.0039041196, -0.014388906, 0.015..."
...,...,...,...,...,...,...,...,...
7078,1104568,Cheese as ingredient in sandwiches,Not included in a food category,360.0,20.76,4.32,28.93,"[0.0047567077, 0.03878048, 0.043640774, -0.006..."
7079,1104569,Breakfast meat as ingredient in omelet,Not included in a food category,253.0,20.81,1.61,17.87,"[0.0051773326, 0.019715708, 0.0039956337, -0.0..."
7080,1104570,"Fish fillet, fried as ingredient in sandwiches",Not included in a food category,200.0,18.11,8.18,10.03,"[0.009361401, 0.023042753, 0.011918317, 0.0034..."
7081,1104571,Breading or batter as ingredient in food,Not included in a food category,201.0,6.32,39.64,1.39,"[-0.039442144, 0.017510977, 0.04945537, 0.0059..."
7082,1104572,Wheat bread as ingredient in sandwiches,Not included in a food category,264.0,11.40,45.42,3.98,"[0.010234108, 0.04141648, 0.019048885, -0.0130..."

In [33]:
#export
class CFoods (LocalBase):
    __tablename__ = 'foods_clusters' 
    id                  = Column(BIGINT,  primary_key=True)
    cluster             = Column(Integer, nullable=True)

In [34]:
# read_sql('foods_clusters')

In [35]:
#export
class FFoods (LocalBase):
    __tablename__ = 'foundation_foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [36]:
#export
class Users (LocalBase):
    __tablename__ = 'users' 
    id                  = Column(BIGINT,     primary_key=True)
    first_name          = Column(String,     nullable=True)
    last_name           = Column(String,     nullable=True)
    username            = Column(String,     nullable=True)
    language_code       = Column(String,     nullable=True)

In [37]:
#export
class Dishes (LocalBase):
    __tablename__ = 'dishes'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    description          = Column(String,   nullable=False)
    energy               = Column(Float,    nullable=False)
    protein              = Column(Float,    nullable=False)
    carb                 = Column(Float,    nullable=False)
    fat                  = Column(Float,    nullable=False)
    score                = Column(Float,    nullable=False)

    photo_id            = Column(String,   nullable=False)
    user_id             = Column(BIGINT,   nullable=False)
    photo_message_id    = Column(BIGINT,   nullable=False)
    message_id          = Column(BIGINT,   nullable=False)

    timestamp           = Column(DateTime(timezone=True), nullable=False)
    ml_version          = Column(Float,    nullable=False)

    grams               = Column(Float,    nullable=True)

In [38]:
#export
class User_properties (LocalBase):
    __tablename__ = 'user_properties'
    id                  = Column(BIGINT,  primary_key=True, autoincrement = True)
    user_id             = Column(BIGINT,   nullable=False)
    property            = Column(String,   nullable=False)
    value               = Column(String,   nullable=False)
    timestamp           = Column(DateTime(timezone=True), nullable=False)

In [39]:
# engine.execute('truncate table food.user_properties')

In [40]:
# engine.execute('drop table food.dishes')

In [41]:
import pandas as pd

In [42]:
#export
class FoodsP (LocalBase):
    __tablename__ = 'foods_prompted' #inferenced text of altered food classes
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,           nullable=False)
    protein             = Column(Float,           nullable=False)
    carb                = Column(Float,           nullable=False)
    fat                 = Column(Float,           nullable=False)
    text                = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [43]:
#export
class FoodsPI (LocalBase):
    __tablename__ = 'foods_prompted_images'
    id                  = Column(BIGINT, primary_key=True,autoincrement = True)
    food_id             = Column(BIGINT,   nullable=False)
    country_code        = Column(String,          nullable=True)
    store_name          = Column(String,          nullable=True)
    product_name        = Column(String,          nullable=True)
    path                = Column(String,          nullable=True)
    accuracy            = Column(Float,          nullable=True)

    clip                = Column(ARRAY(REAL),          nullable=False)

In [44]:
# engine.execute('alter table food.foods_prompted_images rename to foods_prompted_images')

In [45]:
#export
class Indexed (LocalBase):
    __tablename__ = 'indexed'
    id                   = Column(BIGINT,  primary_key=True)
    indexed              = Column(Boolean, nullable   =False)

In [46]:
class Logs (LocalBase):
    __tablename__ = 'bot_logs'
    table = f'{schema}.{__tablename__}'


    id                   = Column(Integer,  primary_key=True, autoincrement = True)
    level_no             = Column(String,   nullable=True)
    func                 = Column(String,   nullable=True)
    id_key               = Column(String,   nullable=True)
    id_value             = Column(Integer,   nullable=True)
    msg                  = Column(String,   nullable=False)

    timestamp            = Column(DateTime, nullable=False)

In [47]:
# engine.execute('drop table food.bot_logs')

In [48]:
engine.execute(f'CREATE SCHEMA IF NOT EXISTS {schema};')

In [49]:
LocalBase.metadata.create_all(engine)

In [16]:
!conda activate f3;nbdev_build_lib

Converted 00_paths.ipynb.
Converted 00_psql.ipynb.
Converted Untitled.ipynb.
Converted inference.ipynb.
Converted search_segmented_stable.ipynb.
Converted stats.ipynb.
Converted usda_parsing.ipynb.

In [ ]:
# docker create container postgis
#docker pull postgres
#sudo docker run --name psql_food_prod -e POSTGRES_PASSWORD=KJnbuiwuef89k -d -p 5434:5432 postgres
#sudo docker run --name psql_food_dev  -e POSTGRES_PASSWORD=KJnbuiwuef89k -d -p 5433:5432 postgres

#dump and restore

# pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5434 -n food > bd.sql
#cat bd.sql | docker exec -i psql_food_prod psql -U postgres | >> log.log

In [ ]:
# pg_dump -t table_to_copy source_db | psql target_db

In [ ]:
## copy table from one database to an other
#pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5432 -t foods_prompted_images | docker exec -i psql_food_prod_1806 psql -U postgres