In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.insert(0,'..')

In [46]:
from mytools.tools import *

from food.paths import *
from food.psql import *

import pandas as pd
import numpy as np

# !nbdev_build_lib
from pathlib import Path

from mytools.visual import get_text_clip,search_clip,series2tensor

In [47]:
data_path = Path('../food_dataset')

In [48]:
input_food = (pd.read_csv(data_path/'input_food.csv').set_index('fdc_id')[['gram_weight','sr_description']]
              .rename(columns = {'sr_description':'input','gram_weight':'input_weight'})
              .sort_values('input_weight'))

In [49]:
food = pd.read_csv(data_path/'food.csv')

In [50]:
food = food[food['data_type']=='survey_fndds_food'].set_index('fdc_id')[['description']]

In [51]:
food = food.join(input_food)

In [52]:
food = food[~food['input'].isin(['Beverages, water, tap, drinking',
                                 'Salt, table, iodized'])]

In [53]:
def func(g):
    g = g.sort_values('input_weight')
    g['cumsum'] = g['input_weight'].cumsum()/g['input_weight'].sum()
    g = g.sort_values('cumsum',ascending = False)
    
    g = g[g['cumsum']>0.05]
    return g

In [54]:
food = food.groupby('fdc_id').apply(func)

In [55]:
food = food.sort_values('input_weight',ascending = False)

In [56]:
food.index = [i[1] for i in food.index]

In [57]:
f = food.reset_index().groupby('index').agg({'description':'first','input':lambda l:'; '.join(l)})

In [61]:
df = f.apply(lambda ff:f'"{ff["description"]}" made of {ff["input"]}',axis=1)

In [62]:
df = df.reset_index(name='text').rename(columns = {'index':'food_id'})

In [63]:
df

      food_id                                               text
0     1097510   "Milk, human" made of Milk, human, mature, fluid
1     1097511  "Milk, NFS" made of Milk, reduced fat, fluid, ...
2     1097512  "Milk, whole" made of Milk, whole, 3.25% milkf...
3     1097513  "Milk, low sodium, whole" made of Milk, low so...
4     1097514  "Milk, calcium fortified, whole" made of Milk,...
...       ...                                                ...
7077  1104588  "Tomatoes as ingredient in omelet" made of Tom...
7078  1104589  "Other vegetables as ingredient in omelet" mad...
7079  1104590  "Vegetables as ingredient in curry" made of On...
7080  1104591  "Sauce as ingredient in hamburgers" made of Ca...
7081  1104592  "Industrial oil as ingredient in food" made of...

[7082 rows x 2 columns]

In [64]:
df['version'] = 2

In [65]:
df.to_sql('foods_prompted',engine,if_exists = 'append',index = False,schema = 'food')

82

In [66]:
pd.read_sql('select * from food.foods_prompted',engine)

,id,food_id,text,version,clip
0,1867,1099376,"the photo of ""Meat loaf made with chicken or ...",1,"[-0.009547241, 0.027974756, -0.0008684345, 0.0..."
1,1868,1099377,"the photo of ""Clams, stuffed"" dish, which is ...",1,"[0.034463722, 0.006951217, -0.030041857, 0.020..."
2,1869,1099378,"the photo of ""Codfish ball or cake"" dish, whi...",1,"[0.009532085, 0.012929418, 0.033163667, 0.0550..."
3,1870,1099379,"the photo of ""Crab cake"" dish, which is made ...",1,"[-0.0019750579, 0.011804303, -0.019615391, 0.0..."
4,1871,1099380,"the photo of ""Fish cake or patty, NS as to fi...",1,"[0.0056863017, 0.0066959057, 0.015637038, 0.03..."
...,...,...,...,...,...
14159,7078,1104588,"the photo of ""Tomatoes as ingredient in omele...",1,"[0.07593674, 0.023695257, 0.014061779, 0.03602..."
14160,7079,1104589,"the photo of ""Other vegetables as ingredient ...",1,"[0.07699164, 0.014432207, 0.022694767, 0.04846..."
14161,7080,1104590,"the photo of ""Vegetables as ingredient in cur...",1,"[0.0098340195, 0.00041265108, 0.0053099045, 0...."
14162,7081,1104591,"the photo of ""Sauce as ingredient in hamburge...",1,"[0.019054852, 0.027971897, 0.029259693, -0.009..."
14163,7082,1104592,"the photo of ""Industrial oil as ingredient in...",1,"[-0.00057650096, 0.043657582, 0.02375392, 0.05..."

In [86]:
q = """select p.clip, p.text, p.version,f.description,f.category 
       from food.foods_prompted as p
       join food.foods as f on (p.food_id = f.id)
       where p.clip is not null
       """

In [87]:
foods = pd.read_sql(q,engine)

In [77]:
foods_old = pd.read_sql('select * from food.foods where clip is not null',engine)

In [79]:
foods

,clip,text,version,description
0,"[-0.009547241, 0.027974756, -0.0008684345, 0.0...","the photo of ""Meat loaf made with chicken or ...",1,"Meat loaf made with chicken or turkey, with to..."
1,"[0.034463722, 0.006951217, -0.030041857, 0.020...","the photo of ""Clams, stuffed"" dish, which is ...",1,"Clams, stuffed"
2,"[0.009532085, 0.012929418, 0.033163667, 0.0550...","the photo of ""Codfish ball or cake"" dish, whi...",1,Codfish ball or cake
3,"[-0.0019750579, 0.011804303, -0.019615391, 0.0...","the photo of ""Crab cake"" dish, which is made ...",1,Crab cake
4,"[0.0056863017, 0.0066959057, 0.015637038, 0.03...","the photo of ""Fish cake or patty, NS as to fi...",1,"Fish cake or patty, NS as to fish"
...,...,...,...,...
9093,"[0.029202031, 0.0440451, -0.008807819, 0.04436...","""Chicken or turkey, potatoes, and vegetables i...",2,"Chicken or turkey, potatoes, and vegetables in..."
9094,"[0.030916419, 0.040611614, -0.009172419, 0.048...","""Chicken or turkey, potatoes, and vegetables e...",2,"Chicken or turkey, potatoes, and vegetables ex..."
9095,"[0.017849905, 0.052032243, -0.011163072, 0.035...","""Chicken or turkey, potatoes, and vegetables i...",2,"Chicken or turkey, potatoes, and vegetables in..."
9096,"[0.027764209, 0.048447695, -0.007417399, 0.044...","""Chicken or turkey, potatoes, and vegetables e...",2,"Chicken or turkey, potatoes, and vegetables ex..."
9097,"[0.029273704, 0.039951853, -0.0060664094, 0.03...","""Chicken or turkey, potatoes, and vegetables i...",2,"Chicken or turkey, potatoes, and vegetables in..."

In [80]:
food_clips = series2tensor(foods['clip'])

In [81]:
food_clips_old = series2tensor(foods_old['clip'])

In [82]:
url = 'https://img-global.cpcdn.com/recipes/2e5de88897d95c0c/400x400cq70/photo.jpg'

In [83]:
r = search_clip(url,foods,food_clips)[1];r

,index,clip,text,version,description,score
0,4148,"[0.0111375665, 0.032855168, 0.016608622, 0.034...","the photo of ""Barley, fat added"" dish, which ...",1,"Barley, fat added",0.311238

In [84]:
r['text'].iloc[0]

' the photo of "Barley, fat added" dish, which is made of the following: Barley, pearled, cooked'

In [85]:
search_clip(url,foods_old,food_clips_old)[1]

,index,id,description,category,energy,protein,carb,fat,clip,score
0,4047,1101537,"Buckwheat groats, no added fat","Pasta, noodles, cooked grains",92.0,3.37,19.86,0.62,"[0.031248957, 0.014652966, 0.029392239, 0.0195...",0.272619

In [43]:
search_clip

In [29]:
engine.execute("drop table food.foods_prompted")

ProgrammingError: (psycopg2.errors.UndefinedTable) table "foods_prompted" does not exist

[SQL: drop table food.foods_prompted]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [30]:
df

      food_id                                               text  version
0     1097510   the photo of "Milk, human" dish, which is mad...        1
1     1097511   the photo of "Milk, NFS" dish, which is made ...        1
2     1097512   the photo of "Milk, whole" dish, which is mad...        1
3     1097513   the photo of "Milk, low sodium, whole" dish, ...        1
4     1097514   the photo of "Milk, calcium fortified, whole"...        1
...       ...                                                ...      ...
7077  1104588   the photo of "Tomatoes as ingredient in omele...        1
7078  1104589   the photo of "Other vegetables as ingredient ...        1
7079  1104590   the photo of "Vegetables as ingredient in cur...        1
7080  1104591   the photo of "Sauce as ingredient in hamburge...        1
7081  1104592   the photo of "Industrial oil as ingredient in...        1

[7082 rows x 3 columns]

In [7]:
get_text_clip('dogs')

tensor([ 1.6915e-02,  1.2465e-02,  8.9097e-03, -2.9618e-02,  1.7291e-02,
         1.7569e-03,  1.9857e-02,  8.7645e-03, -9.6193e-03, -3.8230e-02,
        -1.6027e-02, -1.1519e-02,  1.5489e-02,  1.2435e-02, -1.1473e-02,
         9.1915e-03, -4.4956e-03,  1.3724e-02, -1.2408e-02,  8.3505e-03,
        -2.4924e-02, -1.0489e-02,  1.8021e-02,  9.3614e-04,  1.5869e-02,
         8.7736e-04, -2.8382e-03, -1.2125e-02, -4.0839e-03,  1.0921e-03,
        -2.2746e-02,  8.6543e-03, -1.8522e-02, -4.0211e-02, -1.6811e-02,
        -7.1129e-03, -1.7050e-02, -1.8504e-03, -2.1892e-02,  5.4940e-03,
         1.2249e-02,  8.0643e-03, -5.4576e-03, -2.4247e-03,  8.2767e-03,
        -9.8407e-03,  1.0315e-03,  1.2344e-02,  1.1869e-02, -1.3152e-02,
        -3.3823e-03,  1.6768e-03,  2.2077e-02,  2.5708e-02, -1.2388e-02,
         1.6520e-02, -1.7282e-03,  1.7294e-02, -6.7715e-03,  5.1089e-03,
         1.1791e-03,  1.3683e-02,  3.0604e-02, -2.8036e-02, -7.3349e-03,
         7.9450e-03, -4.9110e-03,  2.2022e-03,  1.3985e-02, -3.5134e-03,
        -1.1064e-02,  2.5866e-02, -2.6301e-02,  7.8758e-04, -1.3962e-03,
         1.0881e-02,  7.6455e-03, -9.7432e-04, -1.3582e-02, -2.3458e-02,
         1.6416e-02, -1.8431e-02, -6.4556e-03,  1.6292e-02, -2.1974e-02,
         7.9093e-03, -1.0993e-03,  1.2640e-02, -3.7605e-02, -1.1771e-02,
        -1.9762e-02, -7.1284e-03,  1.1642e-02,  1.0678e-02, -1.4829e-02,
        -3.6951e-03, -2.7317e-02, -2.2591e-02,  9.1279e-03,  2.6856e-02,
        -1.3327e-02,  9.9645e-03, -2.3912e-02, -6.7003e-03, -5.1635e-04,
        -1.7577e-02, -2.0960e-02, -3.9860e-03,  1.6577e-02, -1.6225e-02,
        -9.9109e-03, -9.6647e-03,  3.2217e-02,  1.2094e-02, -3.6115e-04,
        -3.3696e-03, -3.8433e-02, -3.9131e-03,  1.4142e-02,  2.6059e-02,
        -4.2646e-02,  2.6803e-04,  1.2035e-02,  2.2117e-02, -1.0593e-03,
         5.7551e-03, -4.4466e-03,  1.3447e-03, -2.3645e-02,  1.4185e-02,
         3.7513e-03, -5.0767e-02, -1.7019e-02, -3.3454e-02, -1.5089e-02,
         8.0476e-03, -8.1082e-03,  4.1057e-02,  3.6609e-03, -2.2401e-02,
         3.0106e-02,  1.7968e-02, -1.5471e-02, -2.4272e-02,  1.1206e-02,
         1.1391e-02,  1.0607e-02, -2.6812e-02,  3.2931e-02,  2.5537e-02,
         4.9469e-03, -7.8037e-03,  9.4130e-03,  1.0087e-03, -7.1735e-04,
        -2.3837e-02,  1.6482e-03,  8.2809e-03,  4.0885e-03, -9.4643e-03,
        -6.2255e-03, -4.5313e-03, -6.3197e-03,  6.4439e-03, -2.5192e-03,
        -3.3859e-03, -2.1092e-02, -1.3296e-03,  2.9157e-02,  1.3873e-02,
         7.8100e-03,  8.0631e-03, -1.7216e-03,  3.2148e-02, -1.6073e-02,
         4.5681e-03,  1.3246e-02, -3.7553e-02,  3.3227e-02,  7.7795e-03,
        -2.0454e-02, -2.7318e-02, -3.3118e-02,  1.4431e-02, -1.0957e-02,
         1.9139e-02, -3.0044e-03, -2.1474e-03, -1.0530e-02, -3.2033e-03,
         1.0829e-02,  2.0759e-02,  8.5199e-03, -3.4809e-02,  5.6490e-03,
        -1.2974e-01,  3.7693e-04,  1.2831e-02, -1.0592e-02, -1.8951e-03,
         2.4537e-02,  5.7470e-02,  1.7826e-04, -2.0809e-02,  1.1328e-02,
         2.8621e-03,  2.5169e-02, -2.0187e-02, -6.9944e-03,  1.7188e-02,
        -1.3657e-02, -3.2336e-02,  1.5568e-02, -6.4017e-03,  7.6075e-03,
         9.7324e-03,  1.5931e-02, -3.4491e-03, -9.5879e-03,  3.7146e-02,
        -3.7257e-02, -4.2266e-03,  1.4227e-02,  2.8004e-02, -6.4286e-03,
         6.8925e-03, -1.7927e-02, -3.3349e-04, -2.2469e-03,  7.2331e-03,
        -2.0855e-02, -5.7970e-03, -1.2682e-02,  1.5182e-02, -2.2578e-02,
         1.7844e-02, -2.1423e-02, -2.0201e-02,  1.7648e-02, -1.0575e-02,
         2.2625e-02,  3.7811e-03,  5.3522e-03, -1.2052e-02, -1.0536e-02,
         2.2404e-02,  2.7081e-02, -1.4847e-02, -3.7233e-02,  6.5775e-03,
        -7.0705e-03,  1.4746e-02,  1.9376e-02, -1.7113e-02,  6.6247e-03,
         1.8439e-02,  3.7779e-03, -6.8886e-03,  1.6015e-02,  1.5841e-02,
         1.5939e-03,  2.2570e-02,  1.3565e-02,  3.8247e-02,  4.0491e-03,
        -8.6675e-03, -3.8282e-02, -9.9250e-04, -1.8804e-02,  1.3092e-02,
        -3.2058e-02,  9.5741e-03,  2.2252e-02, -2.1650e-02,  2.4325e-02,
        -8.7755e-04, -3.4539e-02,  1.5692e-02,  1.1258e-02, -3.8485e-02,
        -1.9507e-02,  1.0189e-02,  2.2806e-02, -1.1952e-02,  1.0695e-02,
        -2.5425e-02,  2.2240e-02, -2.6241e-02, -1.0491e-01,  2.6296e-02,
        -8.3324e-03, -1.8923e-02,  3.5708e-03,  5.6925e-03, -6.2102e-03,
        -2.5196e-02,  2.8202e-02,  1.4215e-02, -1.7410e-02,  2.1505e-02,
        -3.2414e-02,  1.3115e-02, -2.9805e-02, -1.2036e-02,  1.9536e-02,
        -8.2221e-03,  1.8640e-03,  3.1946e-03, -1.6091e-02, -8.5664e-03,
         9.3567e-03,  1.2517e-02,  3.6488e-02, -1.3946e-02, -1.4250e-02,
        -3.6400e-02, -6.1935e-01, -1.4980e-02,  6.4519e-03, -1.1725e-02,
        -1.1212e-02, -1.6597e-02,  1.3652e-03, -1.4064e-03, -8.4225e-03,
         3.2315e-02,  5.4502e-03, -2.0444e-02,  6.1747e-04, -3.9101e-02,
        -5.9607e-03,  7.8511e-03,  1.4457e-02,  1.7091e-02,  2.0377e-02,
         1.3371e-02, -3.9416e-03,  1.2695e-02,  2.0670e-04,  3.4256e-02,
         2.7527e-02, -4.0263e-02, -7.6732e-03,  1.0035e-02,  4.4206e-03,
        -1.7476e-03,  1.7141e-02,  3.2297e-02,  4.3548e-02, -4.6480e-02,
         1.4072e-02, -3.0429e-03,  2.9769e-03, -4.1495e-03,  2.9960e-03,
         1.5190e-02,  1.0102e-02, -2.6134e-02,  3.5781e-02, -6.4100e-03,
        -1.1331e-03,  1.0494e-03,  2.4072e-02, -2.1230e-02,  1.8289e-02,
        -2.1977e-02, -3.4964e-02, -1.3235e-02,  2.4105e-03,  1.2143e-02,
        -1.9167e-02, -1.3520e-02,  6.5824e-03,  8.4900e-03, -1.9938e-02,
         1.9484e-02, -6.1073e-03,  1.6964e-02,  1.8116e-02,  1.5824e-02,
         2.8327e-02, -8.0778e-03,  7.2347e-03, -8.5310e-03, -1.7953e-02,
        -2.3204e-03,  2.7150e-02,  1.0237e-02, -1.0909e-02,  2.8722e-02,
        -2.1047e-02,  1.3907e-02, -8.3806e-03, -1.6752e-02, -1.2573e-02,
         5.5386e-03,  1.2327e-02, -1.4821e-02,  8.4356e-03, -8.9999e-03,
         1.7087e-02, -1.8072e-03,  1.1823e-02,  3.1149e-03,  2.6133e-02,
         2.4132e-02,  1.9862e-02,  1.3325e-02,  1.2936e-02,  1.4239e-02,
         2.3526e-03, -4.4412e-03, -1.2180e-02, -7.5078e-02, -3.6299e-02,
        -1.1639e-02, -1.8004e-02, -2.6453e-02,  1.7334e-03, -1.3710e-02,
         2.0508e-02, -8.4065e-03, -1.0279e-02, -2.6204e-02,  1.1474e-02,
         1.8814e-02, -1.0097e-02, -1.0041e-02, -1.1125e-02,  1.7816e-02,
        -3.0894e-02, -4.4849e-03,  2.5658e-02, -2.7394e-03,  1.4410e-02,
         2.4782e-02,  7.3167e-03, -2.7279e-02, -1.8292e-02,  8.7603e-03,
         5.6375e-01, -8.1523e-03, -1.5443e-03,  1.9389e-02,  9.4970e-03,
        -1.4835e-02,  1.2347e-02,  1.2805e-02,  1.4662e-02,  9.3426e-03,
        -3.9162e-02,  1.0210e-02,  6.1022e-02, -1.5413e-02,  1.5054e-02,
         1.4582e-03,  4.1552e-03, -3.6344e-03,  1.4979e-03,  1.4759e-02,
         2.3633e-02,  6.6345e-03,  6.3675e-03,  9.8463e-03, -2.8681e-02,
        -2.9237e-03,  1.7378e-02,  2.9643e-02, -2.7583e-03, -1.2283e-02,
         2.4049e-02, -3.1815e-02, -1.9125e-02,  1.2789e-02, -2.5603e-02,
         6.9331e-03, -7.3921e-04,  1.1637e-02, -6.5196e-03,  1.6083e-02,
        -1.2746e-02,  2.1809e-03, -8.7519e-03, -3.4467e-02, -1.3135e-02,
         1.3936e-02,  1.7690e-03,  1.9845e-02,  6.8649e-03,  1.8396e-02,
         2.5674e-02, -9.6876e-03, -2.5301e-02,  1.2452e-02, -9.8572e-03,
        -1.2090e-02, -1.1386e-02, -1.3912e-02,  2.5299e-03, -1.0296e-02,
         2.6099e-02,  1.0577e-02, -1.1873e-02,  6.3692e-03,  1.8981e-03,
        -5.5319e-03,  7.8611e-03,  3.2244e-02,  4.8832e-03,  3.6953e-02,
        -1.5441e-02, -2.9136e-02,  8.9666e-03, -3.4663e-02,  2.5597e-02,
         1.0380e-03,  2.1234e-02, -4.7794e-03,  4.2763e-03, -1.2936e-02,
        -9.3693e-03,  2.1092e-02, -2.6543e-02,  1.2104e-02, -1.2770e-02,
         2.6020e-03,  2.4078e-02, -4.8426e-02, -1.5223e-02,  1.9474e-02,
         2.2447e-03, -8.5107e-03, -2.2089e-02, -9.8744e-03, -6.6350e-03,
        -4.1611e-03, -1.2512e-02,  1.3707e-02, -7.3196e-03,  3.7897e-02,
        -4.9636e-03, -1.8539e-02,  2.8659e-02,  1.7503e-02, -1.1415e-02,
        -1.0784e-02,  2.9602e-02, -1.4457e-02,  8.1632e-03,  2.1969e-02,
        -3.1162e-02,  1.0901e-02,  1.4533e-02, -2.4159e-02,  1.1461e-03,
         2.1050e-02, -1.6548e-02, -1.5995e-04, -4.3984e-03, -1.1818e-02,
        -8.1015e-03,  4.9404e-03,  1.4584e-02,  1.8573e-02,  1.2499e-02,
         3.0462e-02,  3.6082e-02, -1.8270e-02, -1.1746e-02,  3.4270e-02,
        -1.6298e-02,  3.3510e-03, -2.7385e-02,  2.8356e-02, -7.7899e-04,
         4.9126e-03,  3.9682e-02, -7.9094e-03, -2.1278e-03, -2.1637e-03,
        -2.3370e-02, -3.2248e-03, -4.8619e-03,  3.1910e-02, -4.3621e-02,
        -2.5781e-02,  2.8687e-02,  1.9153e-02, -2.9128e-02,  8.2721e-04,
        -8.8225e-03,  9.6574e-03, -1.7690e-02,  1.0249e-02, -1.4563e-02,
        -1.9924e-03, -8.1215e-03, -3.0623e-03, -3.7949e-02, -1.0359e-02,
         1.9934e-02,  8.1392e-03,  9.8497e-03, -8.6609e-05, -3.8124e-03,
        -2.3400e-02, -2.4169e-03,  3.2188e-02, -1.9724e-02,  6.7878e-03,
        -1.5679e-02,  1.4241e-04, -1.2849e-02, -1.4574e-02,  4.3361e-03,
        -2.2921e-02,  2.0198e-03, -7.3514e-03,  1.0716e-03,  3.4418e-02,
         1.8848e-03,  5.6496e-03,  8.4759e-03, -2.2921e-02, -9.2882e-03,
         3.0353e-02, -3.7474e-02, -2.2918e-02,  1.2428e-03, -1.2406e-03,
        -5.9130e-03,  1.2147e-02, -2.4467e-03, -2.5177e-02,  2.6052e-02,
         3.8226e-02,  1.4455e-02,  8.2191e-03, -1.1798e-02, -1.4683e-02,
        -7.4230e-03, -1.0122e-02,  3.7782e-02, -7.3318e-03,  7.5105e-02,
        -1.2926e-02,  2.2295e-02, -1.6852e-04,  1.3013e-02, -1.4638e-02,
        -1.6413e-02,  1.7803e-02, -4.3866e-03,  7.8586e-03,  5.0118e-03,
         3.6934e-02,  6.8527e-03, -2.9545e-02, -1.6258e-03, -1.9495e-02,
        -4.2015e-04,  1.1075e-02, -1.7160e-02,  5.4948e-03,  1.6626e-03,
        -1.1660e-02, -1.0229e-02, -7.9572e-03,  5.4519e-03,  1.6927e-03,
        -2.7244e-02, -1.0691e-02, -2.5538e-03, -3.1344e-02, -1.1061e-02,
         9.1168e-03, -1.5227e-02,  1.0147e-02, -5.5621e-03,  1.3709e-02,
         1.9525e-02,  1.9703e-03, -1.8624e-02,  9.8226e-03, -2.0737e-02,
         1.8406e-02, -6.9551e-03, -2.1350e-02,  3.5671e-03, -3.7029e-02,
         3.5778e-02, -1.1264e-03, -3.0801e-02, -1.7011e-02, -8.6180e-03,
         2.6415e-03,  8.1065e-03, -1.2148e-03,  8.6468e-03,  3.3632e-03,
        -2.8738e-02,  2.7089e-02, -3.3777e-02, -6.2881e-02, -1.0847e-04,
         4.4059e-02,  5.9810e-03, -5.6991e-03, -2.0928e-02, -1.8134e-02,
        -1.8240e-02, -1.6285e-03,  3.8802e-03,  3.0974e-02, -1.2460e-02,
         2.1627e-02, -1.3726e-02, -4.4856e-03, -2.7114e-02, -2.9303e-03,
        -1.3450e-02,  3.1212e-02,  1.4248e-02,  3.9565e-02,  2.0035e-02,
         6.8958e-02,  3.8488e-02,  3.7318e-03, -3.0098e-02,  2.5956e-02,
         1.6850e-02,  3.0718e-02,  5.6111e-03, -1.2936e-03,  2.9088e-02,
         5.8829e-03,  3.9882e-03, -2.9085e-02,  2.8371e-02, -3.8662e-02,
        -4.5275e-03,  2.6492e-02,  8.9914e-03, -1.0976e-02, -4.5321e-03,
        -1.8359e-03,  2.3939e-02,  3.2307e-03,  2.4831e-02, -8.1341e-03,
        -9.2078e-03, -6.6263e-03,  2.1055e-02,  2.8609e-02,  3.2105e-02,
        -1.0377e-02, -4.8515e-03,  1.7786e-02, -1.1926e-02, -7.6456e-03,
        -2.0093e-02, -1.5258e-02,  8.1581e-03,  1.8979e-02, -1.8110e-02,
        -2.4156e-03, -1.9364e-02, -1.0395e-02])