In [1]:
#default_exp psql

In [2]:
#export
from sqlalchemy import create_engine
from sqlalchemy import DateTime
from sqlalchemy import Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Date, String, Text, Float, Boolean, ForeignKey, and_, or_, MetaData
from sqlalchemy.orm.exc import NoResultFound, MultipleResultsFound
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy import update
from sqlalchemy import desc
import pandas as pd
import datetime
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql.expression import select, exists
from IPython.display import clear_output
from sqlalchemy import Column, Integer, String ,DateTime,UniqueConstraint,Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, backref
from sqlalchemy.dialects.postgresql import ARRAY
from sqlalchemy.sql.sqltypes import *
from sqlalchemy import *
from sqlalchemy.ext.compiler import compiles
from sqlalchemy.sql.expression import Executable, ClauseElement #_literal_as_text
from sqlalchemy.ext import compiler
from sqlalchemy.schema import DDLElement
from sqlalchemy.inspection import inspect
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import VARCHAR

from sqlalchemy.dialects.postgresql import JSON

from sqlalchemy.dialects.postgresql import REAL

from sqlalchemy import cast

from food.paths import branch
print(branch)

dev

In [3]:
from food.tools import *

In [4]:
#export

port = 5434 if branch == 'prod' else 5433


engine = create_engine(f'postgresql+psycopg2://postgres:KJnbuiwuef89k@localhost/postgres?port={port}',pool_size=64) #dev engine
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [5]:
def get_constraints():
    return pd.read_sql("""SELECT conrelid::regclass AS table_from
                          ,conname
                          ,pg_get_constraintdef(c.oid)
                    FROM   pg_constraint c
                    JOIN   pg_namespace n ON n.oid = c.connamespace
                    AND    n.nspname = 'public' -- your schema here
                    ORDER  BY conrelid::regclass::text, contype DESC;""",engine)

In [6]:
#export
def du(partitions='no'):

    df = query("""SELECT *, pg_size_pretty(total_bytes) AS total
                            , pg_size_pretty(index_bytes) AS INDEX
                            , pg_size_pretty(toast_bytes) AS toast
                            , pg_size_pretty(table_bytes) AS TABLE
                          FROM (
                          SELECT *, total_bytes-index_bytes-COALESCE(toast_bytes,0) AS table_bytes FROM (
                              SELECT c.oid,
                                     nspname AS table_schema,
                                     relname AS TABLE_NAME
                                      , c.reltuples AS row_estimate
                                      , pg_total_relation_size(c.oid) AS total_bytes
                                      , pg_indexes_size(c.oid) AS index_bytes
                                      , pg_total_relation_size(reltoastrelid) AS toast_bytes
                                  FROM pg_class c
                                  LEFT JOIN pg_namespace n ON n.oid = c.relnamespace
                                  WHERE relkind = 'r'
                          ) a
                        ) a;""")
    df = df[['table_schema','table_name','row_estimate','total_bytes','index_bytes']].sort_values('row_estimate',ascending=False)
    df = df[df['table_schema']=='public']
    df['total_bytes']=df['total_bytes']/10**9
    df['index_bytes']=df['index_bytes']/10**9
    df['row_estimate'] = (df['row_estimate']/1000).astype(int)
    df.columns = ['schema','table','mln_rows','total_Gb','index_Gb']

    if   partitions== 'no' : df = df[~df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    elif partitions== 'yes': df = df[ df['table'].apply(lambda x: True in [xx.isdigit() for xx in x])]
    else:                  df = df
    return df.sort_values('index_Gb',ascending=False)

In [7]:
#export
query = lambda q: pd.read_sql_query(q,engine)

In [8]:
#export
def current():
    return query("SELECT * FROM pg_stat_activity where state = 'active';")[['pid','query_start','state_change','wait_event_type','wait_event','query','backend_type']]

In [9]:
#export
def kill(pid):
    return engine.execute(f'SELECT pg_terminate_backend({pid})')

In [10]:
#export
schema = 'food'
LocalBase = declarative_base(metadata=MetaData(schema=schema))

In [11]:
#export
def insert_on_conflict(df,table,update = False, update_cols = None, engine = engine,unique_cols=[],schema=schema):
    metadata = MetaData(schema=schema)
    metadata.bind = engine
    table = Table(table, metadata, autoload=True)
    primary_keys = [key.name for key in inspect(table).primary_key]
#     unique_cols = [cc.name for c in list(inspect(table).constraints) for cc in c if type(c) == UniqueConstraint]

    insrt_vals = df.to_dict(orient='records')
    insrt_stmnt = insert(table).values(insrt_vals)

    if update    : 
        assert update_cols, 'update_cols must be provided if update'
        set_ = {c:getattr(insrt_stmnt.excluded, c) for c in update_cols}
        do_nothing_stmt  = insrt_stmnt.on_conflict_do_update (index_elements=unique_cols,set_=set_)

    else: do_nothing_stmt  = insrt_stmnt.on_conflict_do_nothing(index_elements=unique_cols)

    engine.execute(do_nothing_stmt)

In [12]:
#export
def read_sql(table,schema=schema,engine=engine): return pd.read_sql(f'select * from {schema}.{table}',engine)

In [13]:
schema

'food'

In [14]:
engine.table_names(schema)

/tmp/ipykernel_1189300/859941513.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names(schema)

['bot_logs',
 'dishes',
 'foods',
 'foods_prompted',
 'foods_prompted_images',
 'indexed',
 'user_properties',
 'users']

In [15]:
#export
class Foods (LocalBase):
    __tablename__ = 'foods' 
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,          nullable=False)
    protein             = Column(Float,          nullable=False)
    carb                = Column(Float,          nullable=False)
    fat                 = Column(Float,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [16]:
read_sql('foods')

,id,description,category,energy,protein,carb,fat,clip
0,1097524,"Milk, lactose free, reduced fat (2%)","Milk, reduced fat",50.0,3.35,4.91,1.90,"[0.015040726, 0.011575523, -0.011966778, 0.040..."
1,1097525,"Milk, lactose free, whole","Milk, whole",60.0,3.28,4.67,3.20,"[0.014815284, -0.004186348, -0.007967781, 0.02..."
2,1097603,"Yogurt, whole milk, baby food",Baby food: yogurt,61.0,3.47,4.66,3.25,"[0.0027644234, 0.0029128625, 0.022239361, 0.03..."
3,1097700,"Infant formula, NFS","Formula, ready-to-feed",66.0,1.38,7.12,3.56,"[0.0023559248, 0.017568443, 0.033846956, 0.020..."
4,1099619,Cabbage with ham hocks,Meat mixed dishes,71.0,7.97,4.50,2.49,"[0.03035846, 0.0039041196, -0.014388906, 0.015..."
...,...,...,...,...,...,...,...,...
7078,1104568,Cheese as ingredient in sandwiches,Not included in a food category,360.0,20.76,4.32,28.93,"[0.0047567077, 0.03878048, 0.043640774, -0.006..."
7079,1104569,Breakfast meat as ingredient in omelet,Not included in a food category,253.0,20.81,1.61,17.87,"[0.0051773326, 0.019715708, 0.0039956337, -0.0..."
7080,1104570,"Fish fillet, fried as ingredient in sandwiches",Not included in a food category,200.0,18.11,8.18,10.03,"[0.009361401, 0.023042753, 0.011918317, 0.0034..."
7081,1104571,Breading or batter as ingredient in food,Not included in a food category,201.0,6.32,39.64,1.39,"[-0.039442144, 0.017510977, 0.04945537, 0.0059..."
7082,1104572,Wheat bread as ingredient in sandwiches,Not included in a food category,264.0,11.40,45.42,3.98,"[0.010234108, 0.04141648, 0.019048885, -0.0130..."

In [16]:
#export
class Users (LocalBase):
    __tablename__ = 'users' 
    id                  = Column(BIGINT,     primary_key=True)
    first_name          = Column(String,     nullable=True)
    last_name           = Column(String,     nullable=True)
    username            = Column(String,     nullable=True)
    language_code       = Column(String,     nullable=True)

In [17]:
#export
class Dishes (LocalBase):
    __tablename__ = 'dishes'
    id                   = Column(BIGINT,  primary_key=True, autoincrement = True)
    description          = Column(String,   nullable=False)
    energy               = Column(Float,    nullable=False)
    protein              = Column(Float,    nullable=False)
    carb                 = Column(Float,    nullable=False)
    fat                  = Column(Float,    nullable=False)
    score                = Column(Float,    nullable=False)

    photo_id            = Column(String,   nullable=False)
    user_id             = Column(BIGINT,   nullable=False)
    photo_message_id    = Column(BIGINT,   nullable=False)
    message_id          = Column(BIGINT,   nullable=False)

    timestamp           = Column(DateTime(timezone=True), nullable=False)
    ml_version          = Column(Float,    nullable=False)

    grams               = Column(Float,    nullable=True)

In [20]:
#export
class User_properties (LocalBase):
    __tablename__ = 'user_properties'
    id                  = Column(BIGINT,  primary_key=True, autoincrement = True)
    user_id             = Column(BIGINT,   nullable=False)
    property            = Column(String,   nullable=False)
    value               = Column(String,   nullable=False)
    timestamp           = Column(DateTime(timezone=True), nullable=False)

In [21]:
# engine.execute('truncate table food.user_properties')

In [22]:
# engine.execute('drop table food.dishes')

In [23]:
import pandas as pd

In [24]:
#export
class FoodsP (LocalBase):
    __tablename__ = 'foods_prompted' #inferenced text of altered food classes
    id                  = Column(BIGINT, primary_key=True)
    description         = Column(String,          nullable=False)
    category            = Column(String,          nullable=False)
    energy              = Column(Float,           nullable=False)
    protein             = Column(Float,           nullable=False)
    carb                = Column(Float,           nullable=False)
    fat                 = Column(Float,           nullable=False)
    text                = Column(String,          nullable=False)
    
    clip                = Column(ARRAY(REAL),          nullable=True)

In [25]:
#export
class FoodsPI (LocalBase):
    __tablename__ = 'foods_prompted_images'
    id                  = Column(BIGINT, primary_key=True,autoincrement = True)
    food_id             = Column(BIGINT,   nullable=False)
    country_code        = Column(String,          nullable=True)
    store_name          = Column(String,          nullable=True)
    product_name        = Column(String,          nullable=True)
    path                = Column(String,          nullable=True)
    accuracy            = Column(Float,          nullable=True)

    clip                = Column(ARRAY(REAL),          nullable=False)

In [26]:
# engine.execute('alter table food.foods_prompted_images rename to foods_prompted_images')

In [27]:
#export
class Indexed (LocalBase):
    __tablename__ = 'indexed'
    id                   = Column(BIGINT,  primary_key=True)
    indexed              = Column(Boolean, nullable   =False)

In [28]:
class Logs (LocalBase):
    __tablename__ = 'bot_logs'
    table = f'{schema}.{__tablename__}'


    id                   = Column(Integer,  primary_key=True, autoincrement = True)
    level_no             = Column(String,   nullable=True)
    func                 = Column(String,   nullable=True)
    id_key               = Column(String,   nullable=True)
    id_value             = Column(Integer,   nullable=True)
    msg                  = Column(String,   nullable=False)

    timestamp            = Column(DateTime, nullable=False)

In [29]:
pd.read_sql('select * from food.bot_logs',engine)

,id,level_no,func,id_key,id_value,msg,timestamp
0,1,DEBUG,None,None,NaN,starting bot,2022-06-23 19:43:08.553910
1,2,DEBUG,process_photo,user_id,78882798.0,process_photo started,2022-06-23 19:43:10.143434
2,3,DEBUG,process_photo,user_id,78882798.0,process_photo started,2022-06-23 19:43:10.151043
3,4,DEBUG,process_photo,user_id,78882798.0,process_photo started,2022-06-23 19:43:10.156230
4,5,DEBUG,None,None,NaN,starting bot,2022-06-23 19:55:08.587427
5,6,DEBUG,None,None,NaN,starting bot,2022-06-23 19:55:19.073840

In [53]:
# engine.execute('drop table food.bot_logs')

In [54]:
engine.execute(f'CREATE SCHEMA IF NOT EXISTS {schema};')

In [55]:
LocalBase.metadata.create_all(engine)

In [56]:
!nbdev_build_lib

Converted 00_clipmodel.ipynb.
Converted 00_custom_pandas.ipynb.
Converted 00_paths.ipynb.
Converted 00_progress_check.ipynb.
Converted 00_psql.ipynb.
Converted 00_qdrant.ipynb.
Converted 00_tools.ipynb.
Converted 01_search.ipynb.
Converted inference.ipynb.
Converted stats.ipynb.

In [ ]:
# docker create container postgis
#docker pull postgres
#sudo docker run --name psql_food_prod -e POSTGRES_PASSWORD=KJnbuiwuef89k -d -p 5434:5432 postgres
#sudo docker run --name psql_food_dev  -e POSTGRES_PASSWORD=KJnbuiwuef89k -d -p 5433:5432 postgres

#dump and restore

# pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5434 -n food > bd.sql
#cat bd.sql | docker exec -i psql_food_prod psql -U postgres | >> log.log

In [ ]:
# pg_dump -t table_to_copy source_db | psql target_db

In [ ]:
## copy table from one database to an other
#pg_dump postgresql://postgres:KJnbuiwuef89k@localhost:5432 -t foods_prompted_images | docker exec -i psql_food_prod_1806 psql -U postgres